# Data Analytics with Python

Importing pandas and Numpy modules

In [151]:
import numpy as np
import pandas as pd

In [152]:
a = [10,54,34,67,81,62,33,84,5]

In [153]:
b = pd.Series(a) #Converting a list to a series
b

0    10
1    54
2    34
3    67
4    81
5    62
6    33
7    84
8     5
dtype: int64

In [154]:
b[5] # Accessing an element from the series using the index

62

In [155]:
b.loc[5] #Using .loc attribute

62

In [156]:
b.iloc[5] #using .iloc attribute

62

In [157]:
c = pd.Series([2,3,1,4])
c

0    2
1    3
2    1
3    4
dtype: int64

In [158]:
c[0]

2

In [159]:
c[3]

4

In [160]:
z = np.random.randint(0,10,2)
z #here the 1st Arg is lower limit and 2nd Arg is the upper limit and the 3rd one is the number of randam numbers to generated

array([1, 5])

In [161]:
d = pd.Series(z) # Creating a series using numpy

In [162]:
d

0    1
1    5
dtype: int32

In [163]:
len(d)

2

In [164]:
np.random.randint(1,100,3)

array([31, 14, 79])

In [165]:
e = pd.Series(np.random.randint(1,100,10))
print(e)
for i,j in e.iteritems():
    print (i,j)

0    70
1     8
2    69
3    10
4    94
5    61
6    37
7    88
8    66
9    51
dtype: int32
0 70
1 8
2 69
3 10
4 94
5 61
6 37
7 88
8 66
9 51

In [166]:
%%timeit -n 100 # Calculating the time needed to execute this block
e = pd.Series(np.random.randint(1,100,100))
for i,j in e.iteritems():
    e.loc[i] = j+2

100 loops, best of 3: 6.15 ms per loop

In [167]:
%%timeit -n 100 # Calculating the time needed to execute this block
e = pd.Series(np.random.randint(1,100,100))
e += 2

100 loops, best of 3: 165 µs per loop

In [168]:
c

0    2
1    3
2    1
3    4
dtype: int64

In [169]:
c.loc['apple'] = 1 # Adding an Element to a series

In [170]:
c

0        2
1        3
2        1
3        4
apple    1
dtype: int64

In [171]:
c.loc[0] = 133 # assigning a new value to an index in teh series
c

0        133
1          3
2          1
3          4
apple      1
dtype: int64

It is possible to add a new value to the series the value can be a sequence also

In [172]:
c.loc['water'] = [1,2,3,41]
c

0                  133
1                    3
2                    1
3                    4
apple                1
water    [1, 2, 3, 41]
dtype: object

In [173]:
f = pd.Series([1,[2,3,4],[123,456],89])
f

0             1
1     [2, 3, 4]
2    [123, 456]
3            89
dtype: object

In [174]:
original_sports = pd.Series({'Kabbadi':'India','Cricket':'Srilanka','Swimming':'South Africa','Polo':'Bangladesh'})
original_sports

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
dtype: object

In [175]:
cricket_loving_countries = pd.Series(['England','West Indies','Kenya','Afghan','Bangladesh','Pakistan'], index = ['Cricket','Cricket','Cricket','Cricket','Cricket','Cricket',])
cricket_loving_countries

Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [176]:
all_countires = original_sports.append(cricket_loving_countries)
all_countires

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

while appending one series to another it can be seen that if there are common element in both the series but with different indices then the resultant series will have both the values and both the indices.
In the above exapmle bangladesh is common in both the series and it has polo as it's index in the first one while it has cricket as it's index in the second so the resultant will have bangladesh as the value for both the index cricket and polo

In [177]:
all_countires.loc['Cricket']

Cricket       Srilanka
Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [178]:
all_countires

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

In [179]:
person1 = pd.Series({'Name': 'Harvey Specter',
                    'Age': 36,'Employed': ' Pearson Specter'})
person1

Age                       36
Employed     Pearson Specter
Name          Harvey Specter
dtype: object

In [180]:
person2 = pd.Series({'Name': 'Jassica Pearson',
                    'Age': 40,'Employed': 'Pearson Specter'})
person2

Age                      40
Employed    Pearson Specter
Name        Jassica Pearson
dtype: object

In [181]:
person3 = pd.Series({'Name': 'Mike Ross',
                    'Age': 27,'Employed': 'Clinic'})
person3

Age                27
Employed       Clinic
Name        Mike Ross
dtype: object

In [182]:
df1 = pd.DataFrame([person1,person2,person3], index = ['C1','C1','C2'])
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

On using the loc attribute on a Index value that is unique a series is returned with the column names from DataFrame as the index of series

In [183]:
df1.loc['C2']

Age                27
Employed       Clinic
Name        Mike Ross
Name: C2, dtype: object

In [184]:
type(df1.loc['C2'])

pandas.core.series.Series

The index value need not be unique and in case there are multiple series with the same index name then on using the loc attribute a DataFrame is returned as shown below

In [185]:
df1.loc['C1']

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson

In [186]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

It is possible to have all the elements from a column be printed at once using the index operator where the name of the column is given inside the big brackets, in all these cases the correspondiing index is also printed along with the column name.
The return type will have column name along with the datatype of the value.

In [187]:
df1['Age']

C1    36
C1    40
C2    27
Name: Age, dtype: int64

In [188]:
df1['Employed']

C1     Pearson Specter
C1     Pearson Specter
C2              Clinic
Name: Employed, dtype: object

df1.loc['Age']
'''The .loc attribute takes the index as the value inside square bracket and if the name of the column is given
it throw a key error'''

It is possible to find out a value in a paticular cell of a dataframe by using the loc operator along with the name of the column, if the index and the column are unique then a single value in the cell is returned and if the index value is not unique then all the values that maps to indices cross Column name will be printed as output and in this case the output is a series

In [189]:
df1.loc['C2','Age']

27

In [190]:
df1.loc['C1','Age']

C1    36
C1    40
Name: Age, dtype: int64

In case there is no index provided while creating a data frame then the index will start from 0

In [191]:
df2 = pd.DataFrame([person1,person2,person3])
df2

   Age          Employed             Name
0   36   Pearson Specter   Harvey Specter
1   40   Pearson Specter  Jassica Pearson
2   27            Clinic        Mike Ross

The indexig operator [] takes the name of column as the argument and returns all the rows under that column as the output

In [192]:
df2['Employed']

0     Pearson Specter
1     Pearson Specter
2              Clinic
Name: Employed, dtype: object

The Transpose of a DataFrame is obtained using the .T operator on the dataframe.
After doing the Transpose column names and index are interchanged [i.e. all column names are now row names and all row names are column names]

In [193]:
df2.T

                         0                1          2
Age                     36               40         27
Employed   Pearson Specter  Pearson Specter     Clinic
Name        Harvey Specter  Jassica Pearson  Mike Ross

In [194]:
df2

   Age          Employed             Name
0   36   Pearson Specter   Harvey Specter
1   40   Pearson Specter  Jassica Pearson
2   27            Clinic        Mike Ross

The transpose of a Dataframe will return a view of the transpose df and will not change the origianl dataframe

In [195]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

# Chaining with .loc but the column name is given as a separate index value

Chaining also does the same what a .loc[index, columnname] would return, but the difference here is that the chaining returns a copy of the dataFrame where as in case of .loc[index, columnname] returns a view of the same data frame.

In case just a view of the Data Frame is what is intended the it is better to use .loc[index, columnname] than chaining, coz chaining takes a longer time to execute.

In [196]:
df1.loc['C1']['Employed']

C1     Pearson Specter
C1     Pearson Specter
Name: Employed, dtype: object

Creating a dataframe by Slicing the rows and explicitly mentioned the name of the column names in a list if more than one column name is required in the view.

In [197]:
df1.loc[: ,['Name','Age']]

               Name  Age
C1   Harvey Specter   36
C1  Jassica Pearson   40
C2        Mike Ross   27

loc operator takes two arguments 1st : index name or row name 2nd : list of column names

## Dropping rows from the DataFrame using drop

Here the drop function will not change the original Dataframe instead a copy of the df1 has been created and in that copy the row with the index C2 is dropped

In [198]:
df1.drop('C2')

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson

In [199]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

Drop method has two optional parameters, the first one is "inplace" and by default it's value is "false" and if "inplace" is set to true the it will update the df and not the copy of the dataframe.

The second paraeter is "axis", by default it value is zero indicating a row axis.
If it is desiderd to drop a column then axis has to be made 1 along with the name of the column name to be dropped.

In [200]:
df1.drop('C1',inplace = True)

In [201]:
df1

    Age Employed       Name
C2   27   Clinic  Mike Ross

In [202]:
df1.drop('Employed',axis = 1)

    Age       Name
C2   27  Mike Ross

In [203]:
df1 ['Location'] = 'New York'

In [204]:
df1

    Age Employed       Name  Location
C2   27   Clinic  Mike Ross  New York

In [205]:
df1 = pd.DataFrame([person1,person2,person3], index = ['C1','C1','C2'])
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

In [206]:
df1 ['Location'] = 'New York'
df1

    Age          Employed             Name  Location
C1   36   Pearson Specter   Harvey Specter  New York
C1   40   Pearson Specter  Jassica Pearson  New York
C2   27            Clinic        Mike Ross  New York

### Dataframe Indexing and loading

In [207]:
age = df1['Age'] 
age

C1    36
C1    40
C2    27
Name: Age, dtype: int64

In [208]:
age += 2 # This concept is called broadcasting
df1

    Age          Employed             Name  Location
C1   38   Pearson Specter   Harvey Specter  New York
C1   42   Pearson Specter  Jassica Pearson  New York
C2   29            Clinic        Mike Ross  New York

During broadcasting the original dataframe is changed and not a copy of it, one needs to be careful while performing broadcasting on the datframe

In [209]:
df3 = pd.read_csv('olympics.csv')
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
8,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
9,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
10,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
11,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
12,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
14,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
15,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
16,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
17,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
19,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
20,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
21,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
22,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
24,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
25,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
26,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
27,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
28,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
29,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
119,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
120,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
121,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
122,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
123,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
124,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
125,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
126,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
127,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
128,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
129,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
130,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
131,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
132,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
133,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
134,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
135,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
136,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
137,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
138,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
139,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
140,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
141,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
142,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [210]:
df4 = pd.read_csv('olympics.csv', index_col = 0, skiprows = 1)
df4.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [211]:
df4.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [212]:
df4.index

Index(['Afghanistan (AFG)', 'Algeria (ALG)', 'Argentina (ARG)',
       'Armenia (ARM)', 'Australasia (ANZ) [ANZ]', 'Australia (AUS) [AUS] [Z]',
       'Austria (AUT)', 'Azerbaijan (AZE)', 'Bahamas (BAH)', 'Bahrain (BRN)',
       ...
       'Uzbekistan (UZB)', 'Venezuela (VEN)', 'Vietnam (VIE)',
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]',
       'Independent Olympic Participants (IOP) [IOP]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Mixed team (ZZX) [ZZX]', 'Totals'],
      dtype='object', length=147)

.cloumns attribute gives the names of all the columns in the datatframe

.index attribute gives the names of all the index or row name in the datatframe

In [213]:
for col in df4.columns:
    print(col)
    if col[0] == '№':
        print('the length is ',len(col[0]))

№ Summer
the length is  1
01 !
02 !
03 !
Total
№ Winter
the length is  1
01 !.1
02 !.1
03 !.1
Total.1
№ Games
the length is  1
01 !.2
02 !.2
03 !.2
Combined total

In [214]:
for col in df4.columns:
    if col[:2] == '01':
        df4.rename(columns = {col: 'Gold'+col[4:]}, inplace = True)
    elif col[:2] == '02':
        df4.rename(columns = {col: 'Silver'+col[4:]}, inplace = True)
    elif col[:2] == '03':
        df4.rename(columns = {col: 'Bronze'+col[4:]}, inplace = True)
    elif col[:1] == '№':
        df4.rename(columns = {col: '#'+col[2:]}, inplace = True)

df4.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

## Boolena Masking: Boolean masking is the heart of fast and efficient querying in numpy.
A boolena mask is an array which can be one dimensional like a series or two dimensional like a Dateframe,where each of the value in the arrary are True or False, this array is overlaid on the data structure that we are querying.

### Querying a Dataframe

In [215]:
df4['Gold'] > 0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [216]:
only_gold = df4.where(df4['Gold'] > 0)

In [217]:
only_gold.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

Only those cells which have a number of gold medal's greater than 0 will have a value in them and the rest of them will have Nan.

It is to be noted that for any computation purpose the cell with Nan will not be considered

In [218]:
only_gold['Gold'].count()

100

In [219]:
df4['Gold'].count()

147

In [220]:
only_gold = only_gold.dropna()

In [221]:
only_gold.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [222]:
'''It is not madatory to make use where function for doing the boolean masking,
instead the same can be achieved in the below way also.'''
only_gold1 = df4[df4['Gold'] > 0]
only_gold1

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

### Using | and & operators on Dataframes

In [223]:
len(df4[(df4['Gold'] > 0 ) | df4['Gold.1'] > 0])

101

In [224]:
df4[(df4['Gold.1'] > 0) & (df4['Gold'] == 0)]

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

Here we get all the index name by using .index on df4 and once all the index name is obtained it is assigned to a new column name called "country"

In [225]:
df4['Country'] = df4.index
df4.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

#### Set_index method

In [226]:
df4 = df4.set_index('Gold')

In [227]:
df4.head()

,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

For adataframe the index can be reset by using the .reset_index method

In [228]:
df4.reset_index( )
df4.head()

,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

### Multi level indexing
Pandas allows multilevel indexing, this is similar to composite keys in a relational databasae system.

To create a multilevel index we simply call the set index and provide a list of column names that we are interested in.

Pandas will search through these inorder finding the distinct data and forming composite indices.

In [229]:
df5 = pd.read_csv('census.csv')
df5.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

#### .unique() operator on the column of the data frame.
.unique() operator gives all the unique values in that column of dataframe

In [230]:
df5['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [231]:
df5 = df5[df5['SUMLEV'] == 50]
df5.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [232]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']

In [233]:
columns_to_keep

['STNAME',
 'CTYNAME',
 'BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015']

In [234]:
df5 = df5[columns_to_keep]
df5.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [235]:
df5 = df5.set_index(['STNAME','CTYNAME'])
df5.tail(30)

                              BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME    CTYNAME
Wisconsin Washburn County             36         161         155         152
          Washington County          350        1348        1320        1296
          Waukesha County            960        3805        3802        3757
          Waupaca County             131         492         537         518
          Waushara County             66         221         236         229
          Winnebago County           503        1879        1925        1899
          Wood County                249         895         825         859
Wyoming   Albany County              104         413         443         410
          Big Horn County             24         150         132         136
          Campbell County            208         722         766         732
          Carbon County               46         200         188         199
          Converse County             57         165         194         177
          Crook County                35          82         101          87
          Fremont County             163         615         612         571
          Goshen County               31         118         134         145
          Hot Springs County          15          55          55          48
          Johnson County              29         102          90         101
          Laramie County             358        1291        1221        1250
          Lincoln County              86         241         247         230
          Natrona County             258        1029        1043        1141
          Niobrara County              6          18          18          27
          Park County                 73         299         327         301
          Platte County               13          82          93          94
          Sheridan County             87         343         332         306
          Sublette County             34         134         138         132
          Sweetwater County          167         640         595         657
          Teton County                76         259         230         261
          Uinta County                73         324         311         316
          Washakie County             26         108          90          95
          Weston County               26          81          74          93

                              BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME    CTYNAME
Wisconsin Washburn County            154         152            15930
          Washington County         1363        1336           131967
          Waukesha County           3813        3791           390076
          Waupaca County             535         524            52422
          Waushara County            222         230            24506
          Winnebago County          1815        1847           167059
          Wood County                761         792            74807
Wyoming   Albany County              414         428            36428
          Big Horn County            153         144            11672
          Campbell County            775         737            46244
          Carbon County              215         224            15837
          Converse County            206         206            13826
          Crook County               106         105             7114
          Fremont County             605         583            40222
          Goshen County              157         154            13408
          Hot Springs County          48          49             4813
          Johnson County              83          92             8581
          Laramie County            1273        1263            92271
          Lincoln County             240         248            18091
          Natrona County            1202        1194            75472
          Niobrara County             27          25             2492
          Park County                323         313            28259
          Platte County               81          90             8678
          Sheridan County            361         338            29146
          Sublette County            122         128            10244
          Sweetwater County          629         620            43593
          Teton County               249         269            21297
          Uinta County               316         316            21102
          Washakie County             96          90             8545
          Weston County               77          79             7181

                              POPESTIMATE2011  POPESTIMATE2012  \
STNAME    CTYNAME
Wisconsin Washburn County               15784            15831
          Washington County            132225           132649
          Waukesha County              390808           392710
          Waupaca County                52342            52035
          Waushara County               24581            24484
          Winnebago County             167630           168717
          Wood County                   74647            74384
Wyoming   Albany County                 36908            37396
          Big Horn County               11745            11785
          Campbell County               46600            47881
          Carbon County                 15817            15678
          Converse County               13728            14025
          Crook County                   7129             7148
          Fremont County                40591            41129
          Goshen County                 13597            13666
          Hot Springs County             4818             4846
          Johnson County                 8636             8610
          Laramie County                92663            94894
          Lincoln County                18022            17943
          Natrona County                76420            78699
          Niobrara County                2485             2475
          Park County                   28473            28863
          Platte County                  8701             8732
          Sheridan County               29275            29594
          Sublette County               10142            10418
          Sweetwater County             44041            45104
          Teton County                  21482            21697
          Uinta County                  20912            20989
          Washakie County                8469             8443
          Weston County                  7114             7065

                              POPESTIMATE2013  POPESTIMATE2014  \
STNAME    CTYNAME
Wisconsin Washburn County               15657            15678
          Washington County            132758           133301
          Waukesha County              394025           395335
          Waupaca County                52213            52088
          Waushara County               24332            24173
          Winnebago County             169486           169639
          Wood County                   73996            73597
Wyoming   Albany County                 37647            37918
          Big Horn County               12002            11919
          Campbell County               48121            48243
          Carbon County                 15787            15856
          Converse County               14343            14172
          Crook County                   7160             7264
          Fremont County                41024            40717
          Goshen County                 13565            13509
          Hot Springs County             4846             4793
          Johnson County                 8619             8552
          Laramie County                96006            96469
          Lincoln County                18328            18564
          Natrona County                81156            81603
          Niobrara County                2548             2530
          Park County                   29237            29126
          Platte County                  8728             8776
          Sheridan County               29794            30020
          Sublette County               10086            10039
          Sweetwater County             45162            44925
          Teton County                  22347            22905
          Uinta County                  21022            20903
          Washakie County                8443             8316
          Weston County                  7160             7185

                              POPESTIMATE2015
STNAME    CTYNAME
Wisconsin Washburn County               15552
          Washington County            133674
          Waukesha County              396488
          Waupaca County                51945
          Waushara County               24033
          Winnebago County             169546
          Wood County                   73435
Wyoming   Albany County                 37956
          Big Horn County               12022
          Campbell County               49220
          Carbon County                 15559
          Converse County               14236
          Crook County                   7444
          Fremont County                40315
          Goshen County                 13383
          Hot Springs County             4741
          Johnson County                 8585
          Laramie County                97121
          Lincoln County                18722
          Natrona County                82178
          Niobrara County                2542
          Park County                   29228
          Platte County                  8812
          Sheridan County               30009
          Sublette County                9899
          Sweetwater County             44626
          Teton County                  23125
          Uinta County                  20822
          Washakie County                8328
          Weston County                  7234

In [236]:
df5.loc[[('Washington','Washington County')]]

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Washington,Washington County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
df5.loc[[('Michigan','Washtenaw County'),('Michigan','Wayne')]]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County       977.0      3826.0      3780.0      3662.0
         Wayne                    NaN         NaN         NaN         NaN

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County      3683.0      3709.0         345563.0
         Wayne                    NaN         NaN              NaN

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County         349048.0         351213.0         354289.0
         Wayne                         NaN              NaN              NaN

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County         357029.0         358880.0
         Wayne                         NaN              NaN

In [238]:
df6 = pd.read_csv(r'C:\Users\kkv1\Desktop\Python\DS\log.csv')
df6

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [239]:
df6 = df6.set_index('time')
df6 = df6.sort_index()
df6

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [240]:
df6 = df6.reset_index()

In [241]:
df6

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974424     sue  advanced.html                 23  False    10.0
2   1469974454  cheryl     intro.html                  6    NaN     NaN
3   1469974454     sue  advanced.html                 24    NaN     NaN
4   1469974484  cheryl     intro.html                  7    NaN     NaN
5   1469974514  cheryl     intro.html                  8    NaN     NaN
6   1469974524     sue  advanced.html                 25    NaN     NaN
7   1469974544  cheryl     intro.html                  9    NaN     NaN
8   1469974554     sue  advanced.html                 26    NaN     NaN
9   1469974574  cheryl     intro.html                 10    NaN     NaN
10  1469974604  cheryl     intro.html                 11    NaN     NaN
11  1469974624     sue  advanced.html                 27    NaN     NaN
12  1469974634  cheryl     intro.html                 12    NaN     NaN
13  1469974654     sue  advanced.html                 28    NaN     5.0
14  1469974664  cheryl     intro.html                 13    NaN     NaN
15  1469974694  cheryl     intro.html                 14    NaN     NaN
16  1469974724  cheryl     intro.html                 15    NaN     NaN
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974754     sue  advanced.html                 30    NaN     NaN
19  1469974824     sue  advanced.html                 31    NaN     NaN
20  1469974854     sue  advanced.html                 32    NaN     NaN
21  1469974924     sue  advanced.html                 33    NaN     NaN
22  1469977424     bob     intro.html                  1   True    10.0
23  1469977454     bob     intro.html                  1    NaN     NaN
24  1469977484     bob     intro.html                  1    NaN     NaN
25  1469977514     bob     intro.html                  1    NaN     NaN
26  1469977544     bob     intro.html                  1    NaN     NaN
27  1469977574     bob     intro.html                  1    NaN     NaN
28  1469977604     bob     intro.html                  1    NaN     NaN
29  1469977634     bob     intro.html                  1    NaN     NaN
30  1469977664     bob     intro.html                  1    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [242]:
df6 = df6.set_index(['time','user'])
df6

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

na_filter can be used to turn off the white space filtering, if white space is an actual value of interest

In [243]:
df6.fillna?

#### .fillna() method.
df6.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)

example "value" parameter takes a scalar value and changes all the Nan values in the df to this scalar value.

in Method paramneter the two common parameters are ffill and bfill 

--> ffill is for forward filling and it updates an na value at a particular cell with thevalue from the previous row.It's is important to note thatyour data needs to be sorted in order for this to have effect that you might want.

while filling missing data in a dataframe we need not have to fill all the values at once, there is a option to fill the data either column wise or a couple of cells.By making use ffilling or bfilling.

More recently pandas team introduced a method of filling missing values with a series which is same length as your datdframe.

While calculating things like mean, sum etc on data frame it has to be kept in mind that pandas ignores the missing values during calculation.

#### Merging Dataframes

In [244]:
import pandas as pd

df = pd.DataFrame([{'Name': 'Chris', 'Item Purchased': 'Sponge', 'Cost': 22.50},
                   {'Name': 'Kevyn', 'Item Purchased': 'Kitty Litter', 'Cost': 2.50},
                   {'Name': 'Filip', 'Item Purchased': 'Spoon', 'Cost': 5.00}],
                  index=['Store 1', 'Store 1', 'Store 2'])
df

         Cost Item Purchased   Name
Store 1  22.5         Sponge  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0          Spoon  Filip

In [245]:
df['Date'] = ['December 1', 'January 1', 'mid-May']
df

         Cost Item Purchased   Name        Date
Store 1  22.5         Sponge  Chris  December 1
Store 1   2.5   Kitty Litter  Kevyn   January 1
Store 2   5.0          Spoon  Filip     mid-May

In [246]:
df['Delivered'] = True
df

         Cost Item Purchased   Name        Date Delivered
Store 1  22.5         Sponge  Chris  December 1      True
Store 1   2.5   Kitty Litter  Kevyn   January 1      True
Store 2   5.0          Spoon  Filip     mid-May      True

In [247]:
df['Feedback'] = ['Positive', None, 'Negative']
df

         Cost Item Purchased   Name        Date Delivered  Feedback
Store 1  22.5         Sponge  Chris  December 1      True  Positive
Store 1   2.5   Kitty Litter  Kevyn   January 1      True      None
Store 2   5.0          Spoon  Filip     mid-May      True  Negative

In [248]:
adf = df.reset_index()
adf['Date'] = pd.Series({0: 'December 1', 2: 'mid-May'})
adf

     index  Cost Item Purchased   Name        Date Delivered  Feedback
0  Store 1  22.5         Sponge  Chris  December 1      True  Positive
1  Store 1   2.5   Kitty Litter  Kevyn         NaN      True      None
2  Store 2   5.0          Spoon  Filip     mid-May      True  Negative

Since the index is reset now the index is starting from 0 and goes upto 2,

Here we are passing another series in the form of dictonary for the column 'Date' with just two key+values pair, now the corresponding keys act as the index of the dataframe and store Nan for the remaining cell which doesn't have it's row in series.

In [249]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print()
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [250]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In case of merge the ouput dataframe columns are in the order in which the input dataframes are given, i.e. in the above example since 'name' is taken as the index the remaining columns are 'Role' in "staff_df" and 'School' in "student_df" and since the oder inside the merge method is staff_df, school_df 'Role' column will come 1st and then 'School'.

In [251]:
pd.merge(student_df, staff_df, how='outer', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Kelly          NaN  Director of HR
Mike           Law             NaN
Sally  Engineering  Course liasion

In [252]:
pd.merge(staff_df,student_df,how='inner', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Sally  Course liasion  Engineering

####  Venn Diagrams
Outer join is Union.

Inner join is Intersection.

Left join and right join will have the elements that are shared amoung two sets along with the elements that are exclusive to a set also.

While merging two data frames then pandas automatically fills Nan for the cells which doesn't have a value.

In [253]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [254]:
pd.merge(student_df,staff_df, how='left', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Mike           Law             NaN
Sally  Engineering  Course liasion

In [255]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [256]:
pd.merge(student_df,staff_df, how='right', left_index=True, right_index=True)

            School            Role
Name
Kelly          NaN  Director of HR
Sally  Engineering  Course liasion
James     Business          Grader

Till now only index are used to merge two dataframes but it is possible to join two datdframes using the column name also.

In [257]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(student_df, staff_df, how='left', left_on='Name', right_on='Name')

    Name       School            Role
0  James     Business          Grader
1   Mike          Law             NaN
2  Sally  Engineering  Course liasion

In [258]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

          Location_x   Name            Role            Location_y       School
0       State Street  Kelly  Director of HR                   NaN          NaN
1  Washington Avenue  Sally  Course liasion   512 Wilson Crescent  Engineering
2  Washington Avenue  James          Grader  1024 Billiard Avenue     Business

Merging fo two Dataframes doesn't affect the original Dataframe

On merging datafrmaes based on columns we get _X and _y for the columns that are common in the two dataframes.

In the above example 'location' is common column name in both the dataframes hence  it has a suffix _x and _y to differentiate which dataframe it belongs to.

In case of a left join the sufix _x will be added to 1st dataframe that was passed on to merge method.

In [259]:
products = pd.DataFrame([{'Product ID':4109,'Price':5.0,'Product':'Sushi Roll'},
                         {'Product ID':1412,'Price':0.5,'Product':'Egg'},
                         {'Product ID':8931,'Price':1.5,'Product':'Bagel'}])
products

   Price     Product  Product ID
0    5.0  Sushi Roll        4109
1    0.5         Egg        1412
2    1.5       Bagel        8931

In [260]:
invoices = pd.DataFrame([{'Product ID':4109,'Customer':'Ali','Quantity':1},
                         {'Product ID':1412,'Customer':'Eric','Quantity':12},
                         {'Product ID':8931,'Customer':'Ande','Quantity':6},
                         {'Product ID':4109,'Customer':'Sam','Quantity':2}])
invoices

  Customer  Product ID  Quantity
0      Ali        4109         1
1     Eric        1412        12
2     Ande        8931         6
3      Sam        4109         2

In [261]:
answer = pd.merge(products, invoices, how = 'left', left_on = 'Product ID',right_on = 'Product ID')
answer

   Price     Product  Product ID Customer  Quantity
0    5.0  Sushi Roll        4109      Ali         1
1    5.0  Sushi Roll        4109      Sam         2
2    0.5         Egg        1412     Eric        12
3    1.5       Bagel        8931     Ande         6

In [262]:
answer['total'] = answer['Price'] * answer['Quantity']
answer

   Price     Product  Product ID Customer  Quantity  total
0    5.0  Sushi Roll        4109      Ali         1    5.0
1    5.0  Sushi Roll        4109      Sam         2   10.0
2    0.5         Egg        1412     Eric        12    6.0
3    1.5       Bagel        8931     Ande         6    9.0

In [263]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])
staff_df
student_df
pd.merge(staff_df, student_df, how='inner', left_on=['First Name','Last Name'], right_on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

While merging two datframes it is possible to merge them based on two or more column names, as shown in the above case.

The result has just sally Brooks in it because the for james the last name is different and on doing intersection while keeping first and last name in consideration only sally qualifies.

## Idiomatic Pandas: Making Code Pandorable

Chaining is a bad paatice in coding of Pandas and if you see "][" then you are using chaining

In [264]:
import pandas as pd
df = pd.read_csv('census.csv')
df.head(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [265]:
%%timeit -n 100
(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

100 loops, best of 3: 23.4 ms per loop

In [266]:
import pandas as pd
df1 = pd.read_csv('census.csv')

In [267]:
%%timeit -n 100
df2 = df1[df1['SUMLEV']==50]
df2.set_index(['STNAME','CTYNAME'], inplace=True)
df2.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

100 loops, best of 3: 6.5 ms per loop

From the above two timeit examples  it can be seen that pandaroable code need take lesser time for execution.

A dataframe with only certain number of coloumns is to be created by using another dataframe then we can make use of indexing i.e. big brackets.
The returned dataframe will have same index as the original but will have only those columns.

In [279]:
df1.head(5)

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Alabama             40       3         6      1       0
        Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Alabama               4779736            4780127          4785161
        Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861

                        POPESTIMATE2011  POPESTIMATE2012     ...       \
STNAME  CTYNAME                                              ...
Alabama Alabama                 4801108          4816089     ...
        Autauga County            55253            55175     ...
        Baldwin County           186659           190396     ...
        Barbour County            27226            27159     ...
        Bibb County               22733            22642     ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Alabama                 0.002295         -0.193196          0.381066
        Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Alabama                 0.582002         -0.467369     1.030015
        Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Alabama            0.826644     1.383282     1.724718     0.712594
        Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861

[5 rows x 98 columns]

In [281]:
df1[['CENSUS2010POP','ESTIMATESBASE2010']]

                              CENSUS2010POP  ESTIMATESBASE2010
STNAME    CTYNAME
Alabama   Alabama                   4779736            4780127
          Autauga County              54571              54571
          Baldwin County             182265             182265
          Barbour County              27457              27457
          Bibb County                 22915              22919
          Blount County               57322              57322
          Bullock County              10914              10915
          Butler County               20947              20946
          Calhoun County             118572             118586
          Chambers County             34215              34170
          Cherokee County             25989              25986
          Chilton County              43643              43631
          Choctaw County              13859              13858
          Clarke County               25833              25840
          Clay County                 13932              13932
          Cleburne County             14972              14972
          Coffee County               49948              49948
          Colbert County              54428              54428
          Conecuh County              13228              13228
          Coosa County                11539              11758
          Covington County            37765              37765
          Crenshaw County             13906              13906
          Cullman County              80406              80410
          Dale County                 50251              50251
          Dallas County               43820              43820
          DeKalb County               71109              71115
          Elmore County               79303              79296
          Escambia County             38319              38319
          Etowah County              104430             104427
          Fayette County              17241              17241
...                                     ...                ...
Wisconsin Washington County          131887             131885
          Waukesha County            389891             389938
          Waupaca County              52410              52410
          Waushara County             24496              24496
          Winnebago County           166994             166994
          Wood County                 74749              74749
Wyoming   Wyoming                    563626             563767
          Albany County               36299              36299
          Big Horn County             11668              11668
          Campbell County             46133              46133
          Carbon County               15885              15885
          Converse County             13833              13833
          Crook County                 7083               7083
          Fremont County              40123              40123
          Goshen County               13249              13247
          Hot Springs County           4812               4812
          Johnson County               8569               8569
          Laramie County              91738              91881
          Lincoln County              18106              18106
          Natrona County              75450              75450
          Niobrara County              2484               2484
          Park County                 28205              28205
          Platte County                8667               8667
          Sheridan County             29116              29116
          Sublette County             10247              10247
          Sweetwater County           43806              43806
          Teton County                21294              21294
          Uinta County                21118              21118
          Washakie County              8533               8533
          Weston County                7208               7208

[3193 rows x 2 columns]

In [285]:
import numpy as np
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

While using a apply we are not passing any arguments to the function coz i think what ever is before '.apply' will go as the argument to the function

In [287]:
df1.apply(min_max, axis=1)

                                    max        min
STNAME    CTYNAME
Alabama   Alabama             4858979.0  4785161.0
          Autauga County        55347.0    54660.0
          Baldwin County       203709.0   183193.0
          Barbour County        27341.0    26489.0
          Bibb County           22861.0    22512.0
          Blount County         57776.0    57373.0
          Bullock County        10887.0    10606.0
          Butler County         20944.0    20154.0
          Calhoun County       118437.0   115620.0
          Chambers County       34153.0    33993.0
          Cherokee County       26084.0    25859.0
          Chilton County        43943.0    43665.0
          Choctaw County        13841.0    13170.0
          Clarke County         25767.0    24675.0
          Clay County           13880.0    13456.0
          Cleburne County       15072.0    14921.0
          Coffee County         51211.0    50177.0
          Colbert County        54514.0    54354.0
          Conecuh County        13208.0    12662.0
          Coosa County          11758.0    10724.0
          Covington County      38060.0    37796.0
          Crenshaw County       13963.0    13853.0
          Cullman County        82005.0    80374.0
          Dale County           50358.0    49501.0
          Dallas County         43803.0    41131.0
          DeKalb County         71387.0    70869.0
          Elmore County         81468.0    79465.0
          Escambia County       38309.0    37784.0
          Etowah County        104442.0   103057.0
          Fayette County        17231.0    16759.0
...                                 ...        ...
Wisconsin Washington County    133674.0   131967.0
          Waukesha County      396488.0   390076.0
          Waupaca County        52422.0    51945.0
          Waushara County       24581.0    24033.0
          Winnebago County     169639.0   167059.0
          Wood County           74807.0    73435.0
Wyoming   Wyoming              586107.0   564516.0
          Albany County         37956.0    36428.0
          Big Horn County       12022.0    11672.0
          Campbell County       49220.0    46244.0
          Carbon County         15856.0    15559.0
          Converse County       14343.0    13728.0
          Crook County           7444.0     7114.0
          Fremont County        41129.0    40222.0
          Goshen County         13666.0    13383.0
          Hot Springs County     4846.0     4741.0
          Johnson County         8636.0     8552.0
          Laramie County        97121.0    92271.0
          Lincoln County        18722.0    17943.0
          Natrona County        82178.0    75472.0
          Niobrara County        2548.0     2475.0
          Park County           29237.0    28259.0
          Platte County          8812.0     8678.0
          Sheridan County       30020.0    29146.0
          Sublette County       10418.0     9899.0
          Sweetwater County     45162.0    43593.0
          Teton County          23125.0    21297.0
          Uinta County          21102.0    20822.0
          Washakie County        8545.0     8316.0
          Weston County          7234.0     7065.0

[3193 rows x 2 columns]

In [288]:
import numpy as np
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    row['max'] = np.max(data)
    row['min'] = np.min(data)
    return row
df1.apply(min_max, axis=1)

                              SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME    CTYNAME
Alabama   Alabama               40.0     3.0       6.0    1.0     0.0
          Autauga County        50.0     3.0       6.0    1.0     1.0
          Baldwin County        50.0     3.0       6.0    1.0     3.0
          Barbour County        50.0     3.0       6.0    1.0     5.0
          Bibb County           50.0     3.0       6.0    1.0     7.0
          Blount County         50.0     3.0       6.0    1.0     9.0
          Bullock County        50.0     3.0       6.0    1.0    11.0
          Butler County         50.0     3.0       6.0    1.0    13.0
          Calhoun County        50.0     3.0       6.0    1.0    15.0
          Chambers County       50.0     3.0       6.0    1.0    17.0
          Cherokee County       50.0     3.0       6.0    1.0    19.0
          Chilton County        50.0     3.0       6.0    1.0    21.0
          Choctaw County        50.0     3.0       6.0    1.0    23.0
          Clarke County         50.0     3.0       6.0    1.0    25.0
          Clay County           50.0     3.0       6.0    1.0    27.0
          Cleburne County       50.0     3.0       6.0    1.0    29.0
          Coffee County         50.0     3.0       6.0    1.0    31.0
          Colbert County        50.0     3.0       6.0    1.0    33.0
          Conecuh County        50.0     3.0       6.0    1.0    35.0
          Coosa County          50.0     3.0       6.0    1.0    37.0
          Covington County      50.0     3.0       6.0    1.0    39.0
          Crenshaw County       50.0     3.0       6.0    1.0    41.0
          Cullman County        50.0     3.0       6.0    1.0    43.0
          Dale County           50.0     3.0       6.0    1.0    45.0
          Dallas County         50.0     3.0       6.0    1.0    47.0
          DeKalb County         50.0     3.0       6.0    1.0    49.0
          Elmore County         50.0     3.0       6.0    1.0    51.0
          Escambia County       50.0     3.0       6.0    1.0    53.0
          Etowah County         50.0     3.0       6.0    1.0    55.0
          Fayette County        50.0     3.0       6.0    1.0    57.0
...                              ...     ...       ...    ...     ...
Wisconsin Washington County     50.0     2.0       3.0   55.0   131.0
          Waukesha County       50.0     2.0       3.0   55.0   133.0
          Waupaca County        50.0     2.0       3.0   55.0   135.0
          Waushara County       50.0     2.0       3.0   55.0   137.0
          Winnebago County      50.0     2.0       3.0   55.0   139.0
          Wood County           50.0     2.0       3.0   55.0   141.0
Wyoming   Wyoming               40.0     4.0       8.0   56.0     0.0
          Albany County         50.0     4.0       8.0   56.0     1.0
          Big Horn County       50.0     4.0       8.0   56.0     3.0
          Campbell County       50.0     4.0       8.0   56.0     5.0
          Carbon County         50.0     4.0       8.0   56.0     7.0
          Converse County       50.0     4.0       8.0   56.0     9.0
          Crook County          50.0     4.0       8.0   56.0    11.0
          Fremont County        50.0     4.0       8.0   56.0    13.0
          Goshen County         50.0     4.0       8.0   56.0    15.0
          Hot Springs County    50.0     4.0       8.0   56.0    17.0
          Johnson County        50.0     4.0       8.0   56.0    19.0
          Laramie County        50.0     4.0       8.0   56.0    21.0
          Lincoln County        50.0     4.0       8.0   56.0    23.0
          Natrona County        50.0     4.0       8.0   56.0    25.0
          Niobrara County       50.0     4.0       8.0   56.0    27.0
          Park County           50.0     4.0       8.0   56.0    29.0
          Platte County         50.0     4.0       8.0   56.0    31.0
          Sheridan County       50.0     4.0       8.0   56.0    33.0
          Sublette County       50.0     4.0       8.0   56.0    35.0
          Sweetwater County     50.0     4.0       8.0   56.0    37.0
          Teton County          50.0     4.0       8.0   56.0    39.0
          Uinta County          50.0     4.0       8.0   56.0    41.0
          Washakie County       50.0     4.0       8.0   56.0    43.0
          Weston County         50.0     4.0       8.0   56.0    45.0

                              CENSUS2010POP  ESTIMATESBASE2010  \
STNAME    CTYNAME
Alabama   Alabama                 4779736.0          4780127.0
          Autauga County            54571.0            54571.0
          Baldwin County           182265.0           182265.0
          Barbour County            27457.0            27457.0
          Bibb County               22915.0            22919.0
          Blount County             57322.0            57322.0
          Bullock County            10914.0            10915.0
          Butler County             20947.0            20946.0
          Calhoun County           118572.0           118586.0
          Chambers County           34215.0            34170.0
          Cherokee County           25989.0            25986.0
          Chilton County            43643.0            43631.0
          Choctaw County            13859.0            13858.0
          Clarke County             25833.0            25840.0
          Clay County               13932.0            13932.0
          Cleburne County           14972.0            14972.0
          Coffee County             49948.0            49948.0
          Colbert County            54428.0            54428.0
          Conecuh County            13228.0            13228.0
          Coosa County              11539.0            11758.0
          Covington County          37765.0            37765.0
          Crenshaw County           13906.0            13906.0
          Cullman County            80406.0            80410.0
          Dale County               50251.0            50251.0
          Dallas County             43820.0            43820.0
          DeKalb County             71109.0            71115.0
          Elmore County             79303.0            79296.0
          Escambia County           38319.0            38319.0
          Etowah County            104430.0           104427.0
          Fayette County            17241.0            17241.0
...                                     ...                ...
Wisconsin Washington County        131887.0           131885.0
          Waukesha County          389891.0           389938.0
          Waupaca County            52410.0            52410.0
          Waushara County           24496.0            24496.0
          Winnebago County         166994.0           166994.0
          Wood County               74749.0            74749.0
Wyoming   Wyoming                  563626.0           563767.0
          Albany County             36299.0            36299.0
          Big Horn County           11668.0            11668.0
          Campbell County           46133.0            46133.0
          Carbon County             15885.0            15885.0
          Converse County           13833.0            13833.0
          Crook County               7083.0             7083.0
          Fremont County            40123.0            40123.0
          Goshen County             13249.0            13247.0
          Hot Springs County         4812.0             4812.0
          Johnson County             8569.0             8569.0
          Laramie County            91738.0            91881.0
          Lincoln County            18106.0            18106.0
          Natrona County            75450.0            75450.0
          Niobrara County            2484.0             2484.0
          Park County               28205.0            28205.0
          Platte County              8667.0             8667.0
          Sheridan County           29116.0            29116.0
          Sublette County           10247.0            10247.0
          Sweetwater County         43806.0            43806.0
          Teton County              21294.0            21294.0
          Uinta County              21118.0            21118.0
          Washakie County            8533.0             8533.0
          Weston County              7208.0             7208.0

                              POPESTIMATE2010  POPESTIMATE2011  \
STNAME    CTYNAME
Alabama   Alabama                   4785161.0        4801108.0
          Autauga County              54660.0          55253.0
          Baldwin County             183193.0         186659.0
          Barbour County              27341.0          27226.0
          Bibb County                 22861.0          22733.0
          Blount County               57373.0          57711.0
          Bullock County              10887.0          10629.0
          Butler County               20944.0          20673.0
          Calhoun County             118437.0         117768.0
          Chambers County             34098.0          33993.0
          Cherokee County             25976.0          26080.0
          Chilton County              43665.0          43739.0
          Choctaw County              13841.0          13593.0
          Clarke County               25767.0          25570.0
          Clay County                 13880.0          13670.0
          Cleburne County             14973.0          14971.0
          Coffee County               50177.0          50448.0
          Colbert County              54514.0          54443.0
          Conecuh County              13208.0          13121.0
          Coosa County                11758.0          11348.0
          Covington County            37796.0          38060.0
          Crenshaw County             13853.0          13896.0
          Cullman County              80473.0          80469.0
          Dale County                 50358.0          50109.0
          Dallas County               43803.0          43178.0
          DeKalb County               71142.0          71387.0
          Elmore County               79465.0          80012.0
          Escambia County             38309.0          38213.0
          Etowah County              104442.0         104236.0
          Fayette County              17231.0          17062.0
...                                       ...              ...
Wisconsin Washington County          131967.0         132225.0
          Waukesha County            390076.0         390808.0
          Waupaca County              52422.0          52342.0
          Waushara County             24506.0          24581.0
          Winnebago County           167059.0         167630.0
          Wood County                 74807.0          74647.0
Wyoming   Wyoming                    564516.0         567768.0
          Albany County               36428.0          36908.0
          Big Horn County             11672.0          11745.0
          Campbell County             46244.0          46600.0
          Carbon County               15837.0          15817.0
          Converse County             13826.0          13728.0
          Crook County                 7114.0           7129.0
          Fremont County              40222.0          40591.0
          Goshen County               13408.0          13597.0
          Hot Springs County           4813.0           4818.0
          Johnson County               8581.0           8636.0
          Laramie County              92271.0          92663.0
          Lincoln County              18091.0          18022.0
          Natrona County              75472.0          76420.0
          Niobrara County              2492.0           2485.0
          Park County                 28259.0          28473.0
          Platte County                8678.0           8701.0
          Sheridan County             29146.0          29275.0
          Sublette County             10244.0          10142.0
          Sweetwater County           43593.0          44041.0
          Teton County                21297.0          21482.0
          Uinta County                21102.0          20912.0
          Washakie County              8545.0           8469.0
          Weston County                7181.0           7114.0

                              POPESTIMATE2012    ...      RDOMESTICMIG2013  \
STNAME    CTYNAME                                ...
Alabama   Alabama                   4816089.0    ...              0.381066
          Autauga County              55175.0    ...             -3.012349
          Baldwin County             190396.0    ...             21.845705
          Barbour County              27159.0    ...             -7.056824
          Bibb County                 22642.0    ...             -6.201001
          Blount County               57776.0    ...             -1.748766
          Bullock County              10606.0    ...             -1.130263
          Butler County               20408.0    ...             -5.655413
          Calhoun County             117286.0    ...             -5.524649
          Chambers County             34075.0    ...              2.872721
          Cherokee County             26023.0    ...              5.488706
          Chilton County              43697.0    ...              0.480044
          Choctaw County              13543.0    ...             -8.766391
          Clarke County               25144.0    ...             -0.318345
          Clay County                 13456.0    ...              4.902871
          Cleburne County             14921.0    ...              7.345821
          Coffee County               51173.0    ...            -13.146535
          Colbert County              54472.0    ...              1.762390
          Conecuh County              12996.0    ...             -6.107224
          Coosa County                11195.0    ...             -4.313831
          Covington County            37818.0    ...              0.740271
          Crenshaw County             13951.0    ...             -1.864936
          Cullman County              80374.0    ...              4.071247
          Dale County                 50324.0    ...            -15.236079
          Dallas County               42777.0    ...            -16.745678
          DeKalb County               70942.0    ...             -1.748807
          Elmore County               80432.0    ...              1.760531
          Escambia County             38034.0    ...             -4.822706
          Etowah County              104235.0    ...             -1.931884
          Fayette County              16960.0    ...             -3.725937
...                                       ...    ...                   ...
Wisconsin Washington County          132649.0    ...             -2.215465
          Waukesha County            392710.0    ...              0.038132
          Waupaca County              52035.0    ...              6.292687
          Waushara County             24484.0    ...             -4.097017
          Winnebago County           168717.0    ...              0.833819
          Wood County                 74384.0    ...             -6.901200
Wyoming   Wyoming                    577080.0    ...              4.487115
          Albany County               37396.0    ...             -3.544634
          Big Horn County             11785.0    ...             16.815908
          Campbell County             47881.0    ...             -5.895711
          Carbon County               15678.0    ...              3.178134
          Converse County             14025.0    ...             19.035533
          Crook County                 7148.0    ...              1.397819
          Fremont County              41129.0    ...             -4.990688
          Goshen County               13666.0    ...             -8.079028
          Hot Springs County           4846.0    ...              3.095336
          Johnson County               8610.0    ...             -0.812583
          Laramie County              94894.0    ...              4.787847
          Lincoln County              17943.0    ...             13.564556
          Natrona County              78699.0    ...             24.322042
          Niobrara County              2475.0    ...             29.066295
          Park County                 28863.0    ...              7.641997
          Platte County                8732.0    ...              2.634593
          Sheridan County             29594.0    ...              4.546373
          Sublette County             10418.0    ...            -40.870074
          Sweetwater County           45104.0    ...             -5.339774
          Teton County                21697.0    ...             19.525929
          Uinta County                20989.0    ...             -6.902954
          Washakie County              8443.0    ...             -2.013502
          Weston County                7065.0    ...             12.372583

                              RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME    CTYNAME
Alabama   Alabama                     0.582002         -0.467369     1.030015
          Autauga County              2.265971         -2.530799     7.606016
          Baldwin County             19.243287         17.197872    15.844176
          Barbour County             -3.904217        -10.543299    -4.874741
          Bibb County                -0.177537          0.177258    -5.088389
          Blount County              -2.062535         -1.369970     1.859511
          Bullock County             14.354290        -16.167247   -29.001673
          Butler County               1.085428         -6.529805   -13.936612
          Calhoun County             -4.463211         -3.376322    -5.791579
          Chambers County            -2.287222          1.349468    -1.821092
          Cherokee County            -0.076806         -3.239866     6.416167
          Chilton County              0.456017         -2.253483    -0.823761
          Choctaw County             -1.274984         -5.291205   -15.528177
          Clarke County              -8.686428         -5.613667    -6.077488
          Clay County                 5.702648          3.912450   -10.816697
          Cleburne County             3.654485         -3.123961    -3.673524
          Coffee County              -3.602859          2.214774     2.166460
          Colbert County              1.835688         -0.110260     0.513964
          Conecuh County            -14.645416          2.684140    -4.861559
          Coosa County              -22.958017         -5.387581   -34.017138
          Covington County            3.697932         -0.316945     6.881460
          Crenshaw County             3.084648          3.439504     2.666763
          Cullman County              5.087142          7.915406    -1.031427
          Dale County               -11.979785         -5.107706    -9.575283
          Dallas County              -9.344789        -14.687232   -15.727573
          DeKalb County               0.267830          0.028141     1.375159
          Elmore County              -1.507057          2.067820     3.674511
          Escambia County            -1.189831          1.190902    -3.397716
          Etowah County              -1.726932         -2.082234    -0.632554
          Fayette County              0.296745         -2.797536    -5.132243
...                                        ...               ...          ...
Wisconsin Washington County           1.601149         -0.434498    -0.431504
          Waukesha County             0.760109         -0.719858     0.102448
          Waupaca County             -0.441031         -0.480617     3.359933
          Waushara County            -4.906711         -4.397793     5.174486
          Winnebago County           -2.406192         -4.557985     0.842573
          Wood County                -5.596471         -3.958322    -3.733590
Wyoming   Wyoming                    -4.788275         -3.221091     0.289680

In [292]:
rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']
df1.apply(lambda x: np.max(x[rows]), axis=1)

STNAME     CTYNAME
Alabama    Alabama               4858979.0
           Autauga County          55347.0
           Baldwin County         203709.0
           Barbour County          27341.0
           Bibb County             22861.0
           Blount County           57776.0
           Bullock County          10887.0
           Butler County           20944.0
           Calhoun County         118437.0
           Chambers County         34153.0
           Cherokee County         26084.0
           Chilton County          43943.0
           Choctaw County          13841.0
           Clarke County           25767.0
           Clay County             13880.0
           Cleburne County         15072.0
           Coffee County           51211.0
           Colbert County          54514.0
           Conecuh County          13208.0
           Coosa County            11758.0
           Covington County        38060.0
           Crenshaw County         13963.0
           Cullman County          82005.0
           Dale County             50358.0
           Dallas County           43803.0
           DeKalb County           71387.0
           Elmore County           81468.0
           Escambia County         38309.0
           Etowah County          104442.0
           Fayette County          17231.0
                                   ...
Wisconsin  Washington County      133674.0
           Waukesha County        396488.0
           Waupaca County          52422.0
           Waushara County         24581.0
           Winnebago County       169639.0
           Wood County             74807.0
Wyoming    Wyoming                586107.0
           Albany County           37956.0
           Big Horn County         12022.0
           Campbell County         49220.0
           Carbon County           15856.0
           Converse County         14343.0
           Crook County             7444.0
           Fremont County          41129.0
           Goshen County           13666.0
           Hot Springs County       4846.0
           Johnson County           8636.0
           Laramie County          97121.0
           Lincoln County          18722.0
           Natrona County          82178.0
           Niobrara County          2548.0
           Park County             29237.0
           Platte County            8812.0
           Sheridan County         30020.0
           Sublette County         10418.0
           Sweetwater County       45162.0
           Teton County            23125.0
           Uinta County            21102.0
           Washakie County          8545.0
           Weston County            7234.0
dtype: float64

## Group By

In [293]:
import pandas as pd
import numpy as np
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [308]:
df.where(df['STNAME']=='Alabama')

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50.0,3.0,6.0,1.0,1.0,Alabama,Autauga County,54571.0,54571.0,54660.0,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50.0,3.0,6.0,1.0,3.0,Alabama,Baldwin County,182265.0,182265.0,183193.0,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50.0,3.0,6.0,1.0,5.0,Alabama,Barbour County,27457.0,27457.0,27341.0,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50.0,3.0,6.0,1.0,7.0,Alabama,Bibb County,22915.0,22919.0,22861.0,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50.0,3.0,6.0,1.0,9.0,Alabama,Blount County,57322.0,57322.0,57373.0,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50.0,3.0,6.0,1.0,11.0,Alabama,Bullock County,10914.0,10915.0,10887.0,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50.0,3.0,6.0,1.0,13.0,Alabama,Butler County,20947.0,20946.0,20944.0,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50.0,3.0,6.0,1.0,15.0,Alabama,Calhoun County,118572.0,118586.0,118437.0,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50.0,3.0,6.0,1.0,17.0,Alabama,Chambers County,34215.0,34170.0,34098.0,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50.0,3.0,6.0,1.0,19.0,Alabama,Cherokee County,25989.0,25986.0,25976.0,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50.0,3.0,6.0,1.0,21.0,Alabama,Chilton County,43643.0,43631.0,43665.0,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50.0,3.0,6.0,1.0,23.0,Alabama,Choctaw County,13859.0,13858.0,13841.0,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50.0,3.0,6.0,1.0,25.0,Alabama,Clarke County,25833.0,25840.0,25767.0,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50.0,3.0,6.0,1.0,27.0,Alabama,Clay County,13932.0,13932.0,13880.0,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50.0,3.0,6.0,1.0,29.0,Alabama,Cleburne County,14972.0,14972.0,14973.0,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50.0,3.0,6.0,1.0,31.0,Alabama,Coffee County,49948.0,49948.0,50177.0,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50.0,3.0,6.0,1.0,33.0,Alabama,Colbert County,54428.0,54428.0,54514.0,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50.0,3.0,6.0,1.0,35.0,Alabama,Conecuh County,13228.0,13228.0,13208.0,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50.0,3.0,6.0,1.0,37.0,Alabama,Coosa County,11539.0,11758.0,11758.0,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50.0,3.0,6.0,1.0,39.0,Alabama,Covington County,37765.0,37765.0,37796.0,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50.0,3.0,6.0,1.0,41.0,Alabama,Crenshaw County,13906.0,13906.0,13853.0,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50.0,3.0,6.0,1.0,43.0,Alabama,Cullman County,80406.0,80410.0,80473.0,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50.0,3.0,6.0,1.0,45.0,Alabama,Dale County,50251.0,50251.0,50358.0,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50.0,3.0,6.0,1.0,47.0,Alabama,Dallas County,43820.0,43820.0,43803.0,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50.0,3.0,6.0,1.0,49.0,Alabama,DeKalb County,71109.0,71115.0,71142.0,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50.0,3.0,6.0,1.0,51.0,Alabama,Elmore County,79303.0,79296.0,79465.0,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50.0,3.0,6.0,1.0,53.0,Alabama,Escambia County,38319.0,38319.0,38309.0,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50.0,3.0,6.0,1.0,55.0,Alabama,Etowah County,104430.0,104427.0,104442.0,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50.0,3.0,6.0,1.0,57.0,Alabama,Fayette County,17241.0,17241.0,17231.0,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50.0,3.0,6.0,1.0,59.0,Alabama,Franklin County,31704.0,31709.0,31734.0,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This query returns a dataframe that has all the cells as the original df but only show those rows will have value in which the state name is Alabama

In [309]:
df.where(df['STNAME']=='Alabama').dropna()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50.0,3.0,6.0,1.0,1.0,Alabama,Autauga County,54571.0,54571.0,54660.0,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50.0,3.0,6.0,1.0,3.0,Alabama,Baldwin County,182265.0,182265.0,183193.0,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50.0,3.0,6.0,1.0,5.0,Alabama,Barbour County,27457.0,27457.0,27341.0,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50.0,3.0,6.0,1.0,7.0,Alabama,Bibb County,22915.0,22919.0,22861.0,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50.0,3.0,6.0,1.0,9.0,Alabama,Blount County,57322.0,57322.0,57373.0,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50.0,3.0,6.0,1.0,11.0,Alabama,Bullock County,10914.0,10915.0,10887.0,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50.0,3.0,6.0,1.0,13.0,Alabama,Butler County,20947.0,20946.0,20944.0,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50.0,3.0,6.0,1.0,15.0,Alabama,Calhoun County,118572.0,118586.0,118437.0,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50.0,3.0,6.0,1.0,17.0,Alabama,Chambers County,34215.0,34170.0,34098.0,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50.0,3.0,6.0,1.0,19.0,Alabama,Cherokee County,25989.0,25986.0,25976.0,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50.0,3.0,6.0,1.0,21.0,Alabama,Chilton County,43643.0,43631.0,43665.0,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50.0,3.0,6.0,1.0,23.0,Alabama,Choctaw County,13859.0,13858.0,13841.0,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50.0,3.0,6.0,1.0,25.0,Alabama,Clarke County,25833.0,25840.0,25767.0,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50.0,3.0,6.0,1.0,27.0,Alabama,Clay County,13932.0,13932.0,13880.0,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50.0,3.0,6.0,1.0,29.0,Alabama,Cleburne County,14972.0,14972.0,14973.0,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50.0,3.0,6.0,1.0,31.0,Alabama,Coffee County,49948.0,49948.0,50177.0,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50.0,3.0,6.0,1.0,33.0,Alabama,Colbert County,54428.0,54428.0,54514.0,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50.0,3.0,6.0,1.0,35.0,Alabama,Conecuh County,13228.0,13228.0,13208.0,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50.0,3.0,6.0,1.0,37.0,Alabama,Coosa County,11539.0,11758.0,11758.0,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50.0,3.0,6.0,1.0,39.0,Alabama,Covington County,37765.0,37765.0,37796.0,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50.0,3.0,6.0,1.0,41.0,Alabama,Crenshaw County,13906.0,13906.0,13853.0,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50.0,3.0,6.0,1.0,43.0,Alabama,Cullman County,80406.0,80410.0,80473.0,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50.0,3.0,6.0,1.0,45.0,Alabama,Dale County,50251.0,50251.0,50358.0,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50.0,3.0,6.0,1.0,47.0,Alabama,Dallas County,43820.0,43820.0,43803.0,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50.0,3.0,6.0,1.0,49.0,Alabama,DeKalb County,71109.0,71115.0,71142.0,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50.0,3.0,6.0,1.0,51.0,Alabama,Elmore County,79303.0,79296.0,79465.0,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50.0,3.0,6.0,1.0,53.0,Alabama,Escambia County,38319.0,38319.0,38309.0,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50.0,3.0,6.0,1.0,55.0,Alabama,Etowah County,104430.0,104427.0,104442.0,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50.0,3.0,6.0,1.0,57.0,Alabama,Fayette County,17241.0,17241.0,17231.0,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50.0,3.0,6.0,1.0,59.0,Alabama,Franklin County,31704.0,31709.0,31734.0,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,50.0,3.0,6.0,1.0,75.0,Alabama,Lamar County,14564.0,14564.0,14495.0,...,-10.004516,-0.560538,0.281304,-4.674718,-7.588774,-9.865564,-0.490471,0.351630,-4.603889,-7.517182
39,50.0,3.0,6.0,1.0,77.0,Alabama,Lauderdale County,92709.0,92709.0,92747.0,...,0.064737,1.640601,1.952440,5.113245,-4.782962,0.593424,2.039957,2.373132,5.597658,-4.308975
40,50.0,3.0,6.0,1.0,79.0,Alabama,Lawrence County,34339.0,34339.0,34305.0,...,-5.530358,-7.785199,-6.088235,-1.850940,-7.604334,-5.501097,-7.667242,-5.969440,-1.731524,-7.484108
41,50.0,3.0,6.0,1.0,81.0,Alabama,Lee County,140247.0,140296.0,140782.0,...,13.479880,16.576137,14.902891,9.198122,6.255238,17.060473,20.343441,18.496685,13.015964,10.134256
42,50.0,3.0,6.0,1.0,83.0,Alabama,Limestone County,82782.0,82782.0,83163.0,...,22.558084,16.312081,12.838340,14.976432,6.824853,23.458985,16.971506,13.621581,15.934746,7.801399
43,50.0,3.0,6.0,1.0,85.0,Alabama,Lowndes County,11299.0,11299.0,11275.0,...,-13.575065,-28.401074,-11.493720,-16.071429,-7.804692,-13.485755,-28.310045,-11.401029,-15.883459,-7.614334
44,50.0,3.0,6.0,1.0,87.0,Alabama,Macon County,21452.0,21448.0,21545.0,...,-11.725137,-38.373096,-28.414867,-20.642728,-10.599605,-12.005419,-38.421002,-28.464457,-20.642728,-10.599605
45,50.0,3.0,6.0,1.0,89.0,Alabama,Madison County,334811.0,334811.0,336138.0,...,4.170416,3.438521,6.367708,4.064107,2.480087,5.739131,4.880766,7.818211,5.734524,4.180881
46,50.0,3.0,6.0,1.0,91.0,Alabama,Marengo County,21027.0,21029.0,20942.0,...,-12.484994,-15.404427,-11.313608,-4.808407,-8.315905,-11.572629,-14.286756,-10.133058,-3.420413,-6.921621
47,50.0,3.0,6.0,1.0,93.0,Alabama,Marion County,30776.0,30777.0,30800.0,...,0.877663,-4.278110,-5.066373,1.420924,-0.033105,1.527785,-3.853565,-4.605793,1.916595,0.463469
48,50.0,3.0,6.0,1.0,95.0,Alabama,Marshall County,93019.0,93019.0,93146.0,...,3.838505,0.287029,-1.039209,-2.246560,0.423099,5.249877,1.009918,-0.148458,-1.155071,1.533734
49,50.0,3.0,6.0,1.0,97.0,Alabama,Mobile County,412992.0,413143.0,413332.0,...,-5.242052,-3.722733,-3.181655,-2.311087,-3.873201,-3.751237,-2.281051,-1.753896,-0.759909,-2.288272
50,50.0,3.0,6.0,1.0,99.0,Alabama,Monroe County,23068.0,23070.0,22982.0,...,-8.697933,-6.613611,-17.389749,-10.669451,-5.967409,-8.697933,-6.613611,-17.389749,-10.669451,-5.967409
51,50.0,3.0,6.0,1.0,101.0,Alabama,Montgomery County,229363.0,229363.0,229723.0,...,0.793549,-17.053618,-16.353778,-8.910671,-5.820167,2.441356,-15.057012,-14.486528,-6.784461,-3.598965
52,50.0,3.0,6.0,1.0,103.0,Alabama,Morgan County,119490.0,119486.0,119603.0,...,-0.058443,-0.616520,-6.114295,-1.997409,-3.670246,0.993538,0.024994,-5.288490,-1.036313,-2.700432
53,50.0,3.0,6.0,1.0,105.0,Alabama,Perry County,10591.0,10581.0,10540.0,...,-4.275534,-30.449493,-13.879939,-11.386538,-16.096786,-3.895487,-30.256162,-13.582511,-11.185006,-15.891731
54,50.0,3.0,6.0,1.0,107.0,Alabama,Pickens County,19746.0,19746.0,19716.0,...,-16.788228,0.723253,2.995868,47.451138,24.852559,-16.788228,0.723253,2.995868,47.451138,24.852559
55,50.0,3.0,6.0,1.0,109.0,Alabama,Pike County,32899.0,32899.0,32957.0,...,-6.316429,0.333293,11.688020,-21.462830,-6.290069,-3.735196,3.211732,14.804825,-17.865707,-2.661183
56,50.0,3.0,6.0,1.0,111.0,Alabama,Randolph County,22913.0,22914.0,22891.0,...,-2.232289,-6.867709,1.016395,-5.275290,9.959718,-2.407371,-7.131851,0.795439,-5.496941,9.738391
57,50.0,3.0,6.0,1.0,113.0,Alabama,Russell County,52947.0,52951.0,53297.0,...,24.111089,42.595881,22.802470,-1.728057,-6.232617,24.222029,44.584517,23.569942,-1.107299,-5.193848
58,50.0,3.0,6.0,1.0,115.0,Alabama,St. Clair County,83593.0,83593.0,83812.0,...,1.498849,6.643969,9.511583,1.551186,3.121490,2.093630,7.104209,10.013421,2.118411,3.685893
59,50.0,3.0,6.0,1.0,117.0,Alabama,Shelby County,195085.0,195218.0,196048.0,...,1.456731,7.783057,8.805327,5.037501,5.986812,3.065733,8.755939,9.897345,6.359052,7.307574
60,50.0,3.0,6.0,1.0,119.0,Alabama,Sumter County,13763.0,13763.0,13740.0,...,-16.368174,-4.006083,-4.990131,-13.135673,-12.981098,-15.120376,-2.225602,-3.053663,-10.958904,-10.855538
61,50.0,3.0,6.0,1.0,121.0,Alabama,Talladega County,82291.0,82291.0,82071.0,...,-2.318600,1.563340,-5.966492,1.230224,-4.231434,-1.879286,2.064097,-5.402922,1.919150,-3.540587
62,50.0,3.0,6.0,1.0,123.0,Alabama,Tallapoosa County,41616.0,41618.0,41502.0,...,-0.337532,-6.705723,1.772834,-0.194404,-5.978818,0.072328,-6.415222,2.088545,0.218704,-5.515154
63,50.0,3.0,6.0,1.0,125.0,Alabama,Tuscaloosa County,194656.0,194653.0,194977.0,...,3.983504,4.256278,5.261075,4.787490,1.884402,5.306232,5.202679,6.333332,6.057539,3.158710
64,50.0,3.0,6.0,1.0,127.0,Alabama,Walker County,67023.0,67023.0,67004.0,...,-4.579296,-4.336533,-0.666096,-3.300481,-3.087245,-4.085450,-3.869753,-0.181663,-2.692097,-2.460626
65,50.0,3.0,6.0,1.0,129.0,Alabama,Washington County,17581.0,17583.0,17610.0,...,-14.708407,-13.062030,-11.181733,1.067236,-0.950486,-13.849940,-12.075121,-10.122411,2.193763,0.118811
66,50.0,3.0,6.0,1.0,131.0,Alabama,Wilcox County,11670.0,11665.0,11557.0,...,-7.029724,-10.239356,-12.314507,-13.835235,0.090453,-7.029724,-10.239356,-12.314507,-13.835235,0.090453
67,50.0,3.0,6.0,1.0,133.0,Alabama,Winston County,24484.0,24483.0,24401.0,...,0.410332,-3.916234,2.441548,1.077609,-6.669724,0.410332,-3.957457,2.400166,1.036162,-6.711409

The new dataframe has only those rows in which the state name is Alabama. i.e. in other words all other rows which did not ful fill the statename == 'Alabama' had Nan values in them and now they have been removed from dataframe

In [311]:
df.where(df['STNAME']=='Alabama').dropna()['CENSUS2010POP']

1      54571.0
2     182265.0
3      27457.0
4      22915.0
5      57322.0
6      10914.0
7      20947.0
8     118572.0
9      34215.0
10     25989.0
11     43643.0
12     13859.0
13     25833.0
14     13932.0
15     14972.0
16     49948.0
17     54428.0
18     13228.0
19     11539.0
20     37765.0
21     13906.0
22     80406.0
23     50251.0
24     43820.0
25     71109.0
26     79303.0
27     38319.0
28    104430.0
29     17241.0
30     31704.0
        ...
38     14564.0
39     92709.0
40     34339.0
41    140247.0
42     82782.0
43     11299.0
44     21452.0
45    334811.0
46     21027.0
47     30776.0
48     93019.0
49    412992.0
50     23068.0
51    229363.0
52    119490.0
53     10591.0
54     19746.0
55     32899.0
56     22913.0
57     52947.0
58     83593.0
59    195085.0
60     13763.0
61     82291.0
62     41616.0
63    194656.0
64     67023.0
65     17581.0
66     11670.0
67     24484.0
Name: CENSUS2010POP, dtype: float64

Series returned above has all the counties which  has the state name as 'Alabama'

In [313]:
a = np.average(df.where(df['STNAME']=='Alabama').dropna()['CENSUS2010POP'])
a

71339.343283582086

Here the avarage population of all the counties of state alabama is calculated

In [314]:
df['STNAME']

1         Alabama
2         Alabama
3         Alabama
4         Alabama
5         Alabama
6         Alabama
7         Alabama
8         Alabama
9         Alabama
10        Alabama
11        Alabama
12        Alabama
13        Alabama
14        Alabama
15        Alabama
16        Alabama
17        Alabama
18        Alabama
19        Alabama
20        Alabama
21        Alabama
22        Alabama
23        Alabama
24        Alabama
25        Alabama
26        Alabama
27        Alabama
28        Alabama
29        Alabama
30        Alabama
          ...
3162    Wisconsin
3163    Wisconsin
3164    Wisconsin
3165    Wisconsin
3166    Wisconsin
3167    Wisconsin
3168    Wisconsin
3170      Wyoming
3171      Wyoming
3172      Wyoming
3173      Wyoming
3174      Wyoming
3175      Wyoming
3176      Wyoming
3177      Wyoming
3178      Wyoming
3179      Wyoming
3180      Wyoming
3181      Wyoming
3182      Wyoming
3183      Wyoming
3184      Wyoming
3185      Wyoming
3186      Wyoming
3187      Wyoming
3188      Wyoming
3189      Wyoming
3190      Wyoming
3191      Wyoming
3192      Wyoming
Name: STNAME, dtype: object

In [315]:
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Counties in state ' + state + ' have an average population of ' + str(avg))

Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609

.where and df[df[]] can be used as an alternative to one other

In [304]:
(df[df['STNAME'] == 'Alabama'].dropna()['CENSUS2010POP'])

1      54571
2     182265
3      27457
4      22915
5      57322
6      10914
7      20947
8     118572
9      34215
10     25989
11     43643
12     13859
13     25833
14     13932
15     14972
16     49948
17     54428
18     13228
19     11539
20     37765
21     13906
22     80406
23     50251
24     43820
25     71109
26     79303
27     38319
28    104430
29     17241
30     31704
       ...
38     14564
39     92709
40     34339
41    140247
42     82782
43     11299
44     21452
45    334811
46     21027
47     30776
48     93019
49    412992
50     23068
51    229363
52    119490
53     10591
54     19746
55     32899
56     22913
57     52947
58     83593
59    195085
60     13763
61     82291
62     41616
63    194656
64     67023
65     17581
66     11670
67     24484
Name: CENSUS2010POP, dtype: int64

In [317]:
%%timeit -n 10
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Counties in state ' + state + ' have an average population of ' + str(avg))

Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688

In [322]:
df.groupby('STNAME')

In [335]:
df.head(5)

,STNAME,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,Alabama,50,3,6,1,1,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
1,Alabama,50,3,6,1,3,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
2,Alabama,50,3,6,1,5,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
3,Alabama,50,3,6,1,7,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
4,Alabama,50,3,6,1,9,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [338]:
#df = df.set_index('STNAME')

def fun(item):
    print(item)
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(fun):
    print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Delaware
Delaware
Delaware
District of Columbia
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon