## Programming with Python for Data Science

The data from various tye of files can be read using below mentioned methods
    
    from sqlalchemy import create_engine
    engine = create_engine('sqlite:///:memory:')
    sql_dataframe  = pd.read_sql_table('my_table', engine, columns=['ColA', 'ColB'])
    
    xls_dataframe  = pd.read_excel('my_dataset.xlsx', 'Sheet1', na_values=['NA', '?'])
    
    json_dataframe = pd.read_json('my_dataset.json', orient='columns')
    
    csv_dataframe  = pd.read_csv('my_dataset.csv', sep=',')
    
    table_dataframe= pd.read_html('http://page.com/with/table.html')[0]
    
    Note the return type of .read_html(), it is a Python list of dataframes, one per HTML table found on the webpage.

sep : str, default ‘,’

    Delimiter to use. If sep is None, will try to automatically determine this. Separators longer than 1 character and different from '\s+' will be interpreted as regular expressions, will force use of the python parsing engine and will ignore quotes in the data. Regex example: '\r\t'

delimiter : str, default None

    Alternative argument name for sep.

header : int or list of ints, default ‘infer’

    Row number(s) to use as the column names, and the start of the data. Default behavior is as if set to 0 if no names passed, otherwise None. Explicitly pass header=0 to be able to replace existing names. The header can be a list of integers that specify row locations for a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not specified will be skipped (e.g. 2 in this example is skipped). Note that this parameter ignores commented lines and empty lines if skip_blank_lines=True, so header=0 denotes the first line of data rather than the first line of the file.

names : array-like, default None

    List of column names to use. If file contains no header row, then you should explicitly pass header=None. Duplicates in this list are not allowed unless mangle_dupe_cols=True, which is the default.

index_col : int or sequence or False, default None

    Column to use as the row labels of the DataFrame. If a sequence is given, a MultiIndex is used. If you have a malformed file with delimiters at the end of each line, you might consider index_col=False to force pandas to _not_ use the first column as the index (row names)

skipinitialspace : boolean, default False
    
    Skip spaces after delimiter.

skiprows : list-like or integer, default None
    
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file

na_values : scalar, str, list-like, or dict, default None
    
    Additional strings to recognize as NA/NaN. If dict passed, specific per-column NA values. By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’,

thousands : str, default None
    
    Thousands separator

decimal : str, default ‘.’
    
    Character to recognize as decimal point (e.g. use ‘,’ for European data).

To convert any dataframe to any other type of file

    my_dataframe.to_sql('table', engine)
    my_dataframe.to_excel('dataset.xlsx')
    my_dataframe.to_json('dataset.json')
    my_dataframe.to_csv('dataset.csv')

The .loc[] method selects by column label, 

.iloc[] selects by column index, and 

.ix[] can be used whenever you want to use a hybrid approach of either.

#### Produces a series object:
    df.recency
    df['recency']
    df.loc[:, 'recency']
    df.iloc[:, 0]
    df.ix[:, 0]

#### Produces a dataframe object:
    df[['recency']]
    df.loc[:, ['recency']]
    df.iloc[:, [0]]

The difference between the two is, if a pair of big brackets is used inside the .loc operator the return type is a Data frame and if not a Series

In pandas the logical operators 'or' and 'and' are not available as they create ambiguity instead logical bitwise operators can be used i.e. | and &

#### Textual Categorical-Features

In [4]:
import pandas as pd
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})
df.satisfaction = df.satisfaction.astype("category",
                  ordered=True,
                  categories=ordered_satisfaction
).cat.codes
df

   satisfaction
0            -1
1             3
2             1
3             2

If the column data in the data frame is ordinal and it is intended to classfy them in a order then change the data type to category.

The optional arguments are ordered and categories
    
    If order is true then it will arrange the return type in incerasing order.
    categories will take a sequence of odering

In [5]:
import pandas as pd

df = pd.DataFrame({'vertebrates':['Bird',
'Bird',
'Mammal',
'Fish',
'Amphibian',
'Reptile',
'Mammal']})

df.vertebrates = df.vertebrates.astype("category").cat.codes
df

   vertebrates
0            1
1            1
2            3
3            2
4            0
5            4
6            3

In [6]:
import pandas as pd

df = pd.DataFrame({'vertebrates':['Bird',
'Bird',
'Mammal',
'Fish',
'Amphibian',
'Reptile',
'Mammal']})

df['new_vertebrates'] = df.vertebrates.astype("category").cat.codes
df

  vertebrates  new_vertebrates
0        Bird                1
1        Bird                1
2      Mammal                3
3        Fish                2
4   Amphibian                0
5     Reptile                4
6      Mammal                3

In [7]:
df = pd.DataFrame({'vertebrates':['Bird',
'Bird',
'Mammal',
'Fish',
'Amphibian',
'Reptile',
'Mammal']})
df = pd.get_dummies(df,columns=['vertebrates'])
df

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0,1,0,0,0
1,0,1,0,0,0
2,0,0,0,1,0
3,0,0,1,0,0
4,1,0,0,0,0
5,0,0,0,0,1
6,0,0,0,1,0

These newly created features are called boolean features because the only values they can contain are either 0 for non-inclusion, or 1 for inclusion. Pandas .get_dummies() method allows you to completely replace a single, nominal feature with multiple boolean indicator features.

In [8]:
import sys
sys.version

'2.7.13 |Anaconda 4.3.1 (64-bit)| (default, Dec 19 2016, 13:29:36) [MSC v.1500 64 bit (AMD64)]'

#### Pure Textual Features

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = [
"Authman ran faster than Harry because he is an athlete.",
"Authman and Harry ran faster and faster."]

bow = CountVectorizer()
X = bow.fit_transform(corpus) # Sparse Matrix

words = bow.get_feature_names()
#['an', 'and', 'athlete', 'authman', 'because', 'faster', 'harry', 'he', 'is', 'ran', 'than']

print (X.toarray())
print(words)

[[1 0 1 1 1 1 1 1 1 1 1]
 [0 2 0 1 0 2 1 0 0 1 0]]
[u'an', u'and', u'athlete', u'authman', u'because', u'faster', u'harry', u'he', u'is', u'ran', u'than']

In the above example 

    corpus is the given sentence
    bow is the bag of words
    features are the names of the columns
    x is the sparse matrix that is created to save memory, i.e. if actual words are used to create the feature then the dataframe will be huge

#### Graphical Features

from scipy import misc #Load the image up

img = misc.imread('image.png')

img = img[::2, ::2] #Is the image too big? Resample it down by an order of magnitude

X = (img / 255.0).reshape(-1) #Scale colors from (0-255) to (0-1), then reshape to 1D array per pixel, e.g. grayscale if you had
color images and wanted to preserve all color channels, use .reshape(-1,3)

#### Wrangling Your Data

First try to fill in missing data rather that deleting it. but if unable to fill it the use the .dropna() method.

    df = df.dropna(axis=0)  # remove any row with nans
    df = df.dropna(axis=1)  # remove any column with nans
    df = df.dropna(axis=0, thresh=4) # Drop any row that has at least 4 NON-NaNs within it:
To get rid of columns or features use,
    
    df = df.drop(labels=['Features', 'To', 'Delete'], axis=1) # Axis=1 for columns
    
To get rid of a row or index
    
    df = df.drop(labels=['ego', 'jealous', 'fear', axis = 0]) # Axis = 0 for rows
    
To drop duplicate records by comparing o features

    df = df.drop_duplicates(subset=['Feature_1', 'Feature_2'])
    
Chaining of operators is possible 
    
    df = df.dropna(axis=0, thresh=2).drop(labels=['ColA', axis=1]).drop_duplicates(subset=['ColB', 'ColC']).reset_index()

Pandas will automatically attempt to figure out the best data type to use for each series in your dataset. Most of the time it does this flawlessly, but other times it fails horribly! Particularly the .read_html() method is notorious for defaulting all series data types to Python objects.

    df.dtypes

        Date        object
        Name        object
        Gender      object
        Height      object
        Weight      object
        Age         object
        Job         object
        
    df.Date = pd.to_datetime(df.Date, errors='coerce')
    df.Height = pd.to_numeric(df.Height, errors='coerce')
    df.Weight = pd.to_numeric(df.Weight, errors='coerce')
    df.Age = pd.to_numeric(df.Age, errors='coerce')
    df.dtypes

        Date        datetime64
        Name        object
        Gender      object
        Height      float64
        Weight      float64
        Age         int64
        Job         object
        
The errors='coerce' parameter instructs Pandas to enter a NaN at any field where the conversion fails.

.unique() ethod gives all the unique values in a series
    
    df.Age.unique()

        array([7, 33, 27, 40, 22], dtype=int64)
    
    
.value_counts() method gives the count of all the unique values that are in a given column

    df.Age.value_counts()

        7      1
        22     5
        27     1
        33     2
        40     2
        dtype: int64

In [10]:
import pandas as pd

df = pd.read_csv('tutorial.csv')
df

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [11]:
df.loc[2:4, 'col3']

2   -1.417937
3   -1.649853
Name: col3, dtype: float64

In [12]:
df.describe()

           col0      col1      col2      col3
count  4.000000  4.000000  4.000000  4.000000
mean  -0.047068 -0.550656  0.409203 -0.447672
std    1.029715  0.701720  0.723956  1.300815
min   -1.062870 -1.330682 -0.238536 -1.649853
25%   -0.807875 -0.880830 -0.143055 -1.475916
50%   -0.142899 -0.617291  0.283070 -0.592780
75%    0.617907 -0.287118  0.835328  0.435464
max    1.160396  0.362640  1.309208  1.044722

In [13]:
import pandas as pd

df = pd.read_csv('servo.data', names = ['motor', 'screw', 'pgain', 'vgain', 'class'])
df

    motor screw  pgain  vgain     class
0       E     E      5      4  0.281251
1       B     D      6      5  0.506252
2       D     D      4      3  0.356251
3       B     A      3      2  5.500033
4       D     B      6      5  0.356251
5       E     C      4      3  0.806255
6       C     A      3      2  5.100014
7       A     A      3      2  5.700042
8       C     A      6      5  0.768754
9       D     A      4      1  1.031254
10      B     E      6      5  0.468752
11      E     C      5      4  0.393752
12      B     C      4      1  0.281251
13      E     C      3      1  1.100000
14      C     C      5      4  0.506252
15      E     B      3      2  1.899990
16      D     C      3      1  0.900001
17      B     C      5      4  0.468752
18      B     B      5      4  0.543753
19      C     E      4      2  0.206250
20      E     D      4      3  0.918755
21      A     D      4      3  1.106248
22      B     C      6      5  0.468752
23      A     C      4      2  0.581253
24      A     B      6      5  0.581253
25      E     C      6      5  0.393752
26      A     A      3      1  5.300024
27      A     E      4      2  0.468752
28      C     D      3      2  1.899990
29      B     B      3      2  4.299977
..    ...   ...    ...    ...       ...
137     A     C      5      4  0.506252
138     B     E      4      1  0.206250
139     C     B      3      1  3.899964
140     E     E      4      2  0.506252
141     B     E      4      3  1.106248
142     A     E      3      1  3.899964
143     A     B      4      2  0.806255
144     A     C      3      1  3.899964
145     E     C      3      2  1.499995
146     B     A      3      1  5.100014
147     D     D      3      2  1.499995
148     A     C      3      2  4.699995
149     E     A      4      1  0.881255
150     B     A      5      4  0.806255
151     E     E      3      1  0.700001
152     D     E      3      2  0.900001
153     E     B      3      1  1.499995
154     A     D      4      1  0.243751
155     A     D      3      1  4.099967
156     E     B      4      3  0.993756
157     A     B      3      1  4.699995
158     D     B      4      3  0.581253
159     A     A      5      4  0.806255
160     D     A      3      2  2.699979
161     C     E      6      5  0.468752
162     B     C      3      2  4.499986
163     B     E      3      1  3.699967
164     C     D      4      3  0.956256
165     A     B      3      2  4.499986
166     A     A      6      5  0.806255

[167 rows x 5 columns]

In [14]:
(df.vgain == 5).value_counts()

False    145
True      22
Name: vgain, dtype: int64

In [15]:
((df.motor == 'E') & (df.screw == 'E')).value_counts()

False    161
True       6
dtype: int64

In [16]:
df[df.pgain == 4].vgain.mean()

2.0606060606060606

In [17]:
import pandas as pd
import html5lib

df = pd.read_html('http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2')[0]
df.drop_duplicates(subset=[1],inplace = True)
df.drop(labels = [0], axis = 0, inplace = True)
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(1))
df.dropna(axis=0, thresh=4, inplace = True)
df.drop(labels = 'RK', axis = 1, inplace = True)
df.reset_index(inplace = True)
df.drop(labels = 'index',axis = 1, inplace = True)
df

1,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G,A,G,A
0,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
1,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
2,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
3,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
4,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0
5,"Nicklas Backstrom, C",WSH,82,18,60,78,5,40,0.95,153,11.8,3,3,30,0,0
6,"Tyler Seguin, C",DAL,71,37,40,77,-1,20,1.08,280,13.2,5,13,16,0,0
7,"Jiri Hudler, LW",CGY,78,31,45,76,17,14,0.97,158,19.6,5,6,10,0,0
8,"Daniel Sedin, LW",VAN,82,20,56,76,5,18,0.93,226,8.9,5,4,21,0,0
9,"Vladimir Tarasenko, RW",STL,77,37,36,73,27,31,0.95,264,14.0,6,8,10,0,0
10,"Nick Foligno, LW",CBJ,79,31,42,73,16,50,0.92,182,17.0,3,11,15,0,0
11,"Claude Giroux, C",PHI,81,25,48,73,-3,36,0.90,279,9.0,4,14,23,0,0
12,"Henrik Sedin, C",VAN,82,18,55,73,11,22,0.89,101,17.8,0,5,20,0,0
13,"Steven Stamkos, C",TB,82,43,29,72,2,49,0.88,268,16.0,6,13,12,0,0
14,"Tyler Johnson, C",TB,77,29,43,72,33,24,0.94,203,14.3,6,8,9,0,0
15,"Ryan Johansen, C",CBJ,82,26,45,71,-6,40,0.87,202,12.9,0,7,19,2,0
16,"Joe Pavelski, C",SJ,82,37,33,70,12,29,0.85,261,14.2,5,19,12,0,0
17,"Evgeni Malkin, C",PIT,69,28,42,70,-2,60,1.01,212,13.2,4,9,17,0,0
18,"Ryan Getzlaf, C",ANA,77,25,45,70,15,62,0.91,191,13.1,6,3,10,0,2
19,"Rick Nash, LW",NYR,79,42,27,69,29,36,0.87,304,13.8,8,6,6,4,1
20,"Max Pacioretty, LW",MTL,80,37,30,67,38,32,0.84,302,12.3,10,7,4,3,2
21,"Logan Couture, C",SJ,82,27,40,67,-6,12,0.82,263,10.3,4,6,18,2,0
22,"Jonathan Toews, C",CHI,81,28,38,66,30,36,0.81,192,14.6,7,6,11,2,1
23,"Erik Karlsson, D",OTT,82,21,45,66,7,42,0.80,292,7.2,3,6,24,0,0
24,"Henrik Zetterberg, LW",DET,77,17,49,66,-6,32,0.86,227,7.5,3,4,24,0,0
25,"Pavel Datsyuk, C",DET,63,26,39,65,12,8,1.03,165,15.8,5,8,16,0,0
26,"Joe Thornton, C",SJ,78,16,49,65,-4,30,0.83,131,12.2,0,4,18,0,0
27,"Nikita Kucherov, RW",TB,82,28,36,64,38,37,0.78,190,14.7,2,2,13,0,0
28,"Patrick Kane, RW",CHI,61,27,37,64,10,10,1.05,186,14.5,5,6,16,0,0
29,"Mark Stone, RW",OTT,80,26,38,64,21,14,0.80,157,16.6,6,5,8,1,0
30,"Alexander Steen, LW",STL,74,24,40,64,8,33,0.86,223,10.8,5,8,16,0,0
31,"Kyle Turris, C",OTT,82,24,40,64,5,36,0.78,215,11.2,6,4,12,1,0
32,"Johnny Gaudreau, LW",CGY,80,24,40,64,11,14,0.80,167,14.4,4,8,13,0,0
33,"Anze Kopitar, C",LA,79,16,48,64,-2,10,0.81,134,11.9,4,6,18,0,0
34,"Radim Vrbata, RW",VAN,79,31,32,63,6,20,0.80,267,11.6,7,12,11,0,0
35,"Jaden Schwartz, LW",STL,75,28,35,63,13,16,0.84,184,15.2,4,8,8,0,2
36,"Filip Forsberg, C",NSH,82,26,37,63,15,24,0.77,237,11.0,6,6,13,0,0
37,"Jordan Eberle, RW",EDM,81,24,39,63,-16,24,0.78,183,13.1,2,6,15,0,0
38,"Ondrej Palat, LW",TB,75,16,47,63,31,24,0.84,139,11.5,5,3,8,1,1
39,"Zach Parise, LW",MIN,74,33,29,62,21,41,0.84,259,12.7,3,11,5,0,0

In [18]:
df.shape

(40, 16)

In [19]:
len(df.PCT.unique())

36

In [20]:
import pandas as pd

df = pd.read_csv('census.data', names = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'])
df

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K