## Introduction to Data Analytics in Python using Jupyter Notebook

### Introduction to Python and Anaconda Package
    A breif history on Python
    Downloading the anaconda Package https://www.continuum.io/downloads
    Installing Anaconda on the machine 
    Setting up path vairable

### Spyder  IDE and Jupyter Notebook
    Various panes in the Syder IDE 
    Working in a Jupyter Notebook https://www.cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/

### Getting started in Python
    Python a High level Interpreted language
    Execution Flow
    Variables and it's naming Conventions
    Print a statement on the console
    Taking an Input from the user
    Type and ID function
    Keywords in python

In [ ]:
a = 3

In [ ]:
id(3)

In [ ]:
print(id(a))

In [ ]:
b = 'Hello World'

In [ ]:
print(id(b))

In [ ]:
a = 5

In [ ]:
print(id(a))

In [ ]:
f = 3.141256

In [ ]:
c = 5+8j

In [ ]:
c.real

In [ ]:
c.imag

In [ ]:
v = 'p'

In [ ]:
d = 3.142

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
print ('Hello world')

In [ ]:
print ("what are you doing")

In [ ]:
print ("It's my book")

In [ ]:
print ('Capgemini- "People matter Results Count"')

In [ ]:
Emp_id = int (input('Enter your Employee ID: '))
print('Employee ID is ',Emp_id)

In [ ]:
Name = input('Enter your Name:')
Name

In [ ]:
type(Emp_id)

In [ ]:
type(Name)

In [ ]:
id(Emp_id)

In [ ]:
id(Name)

In [ ]:
import keyword
print(keyword.kwlist)

# Operators

##### Mathematical operators: Addition, Subtraction, Multiplication,Division, Numerical Division,Expoenent, Modulus Operator
##### Condition operators > < == != >= <=
##### Logical Operators: and, or , not using Conditional statements
##### Boolena Operators: True and False
##### Functions: Max(), Min(),Sum(),len()

In [ ]:
# Addition
a = 5
b = 18
c = a + b 
c

In [ ]:
# Subtraction
d = a - b
e = b - a
print('The value of d is:',d)
e

In [ ]:
#Multiplication
f = a * b * 1.2
f

In [ ]:
#Division
g = a/b
h = b/a
print('The value of h is:',h)
g

In [ ]:
#Numerical Division
i = a // b
j = b // a
print('The value of j is:', j)
i

In [ ]:
#Exponent
k = 6 ** 2
l = 25 ** 3
print(k,l)

In [ ]:
#Modulus Operator
m = 4 % 3
print(m)
n = 35 % 18
print(n)

In [ ]:
score = int (input('Enter your score: '))
if score > 40:
    print('D Grade')

In [ ]:
score = int (input('Enter your score: '))
if score >= 40 and  score < 60:
    print('D Grade')
elif score < 75 and score <= 60:
    print('C Grade')

In [ ]:
score = int (input('Enter your score: '))
if score >= 40 and  score < 60:
    print('D Grade')
elif score >= 60 and score < 75:
    print('C Grade')
elif score >= 75 and score < 90:
    print('B Grade')
else:
    print('A Grade')

In [ ]:
score = int (input('Enter your score: '))
if score < 40:
    print('E Grade')
elif score >= 40 and  score < 60:
    print('D Grade')
elif score >= 60 and score < 75:
    print('C Grade')
elif score >= 75 and score < 90:
    print('B Grade')
else:
    print('A Grade')

In [ ]:
per_marks = float(input('Enter the percentage marks obtained: '))
per_attandance = float(input('Enter the percentage Attendance: '))
if per_marks >= 40 and per_attandance >= 70:
    print('Promoted')
else:
    print('percentage marks or attendance is lesser than required')

In [ ]:
state = input('Enter your state Name: ')
if ((state == 'Karnataka') or (state =='Punjab') or (state =='Kerala') or (state == 'Gujarath')):
    print('India')
elif ((state == 'Los angeles') or (state == 'california') or (state == 'washington')):
    print('US')

## strings

In [80]:
s1 = "hello"
s2 = "world"
s = s1+s2
s

'helloworld'

In [81]:
s1,s2 = s2,s1
print(s1)
print(s2)

world
hello

In [82]:
s='hello world'
s

'hello world'

0	1	2	3	4	5	6	7	8	9	10
h	e	l	l	o		w	o	r	l	d
-11	-10	-9	-8	-7	-6	-5	-4	-3	-2	-1

In [83]:
len(s)

11

In [84]:
s[0]

'h'

In [85]:
s[7]

'o'

In [86]:
s[1:3]

'el'

In [87]:
s[2:9]

'llo wor'

In [88]:
s[11]

IndexError: string index out of range

In [89]:
s[10]

'd'

In [90]:
s[-1]

'd'

In [91]:
s[-6:-1]

' worl'

In [92]:
s[-10]

'e'

In [93]:
s[3:]

'lo world'

In [94]:
s[:8]

'hello wo'

In [95]:
s[3:8]

'lo wo'

In [96]:
s[:-1]

'hello worl'

In [97]:
s[-5:]

'world'

In [98]:
s[:]

'hello world'

In [99]:
s.upper()

'HELLO WORLD'

In [100]:
s.title()

'Hello World'

In [101]:
s.capitalize()

'Hello world'

In [102]:
s

'hello world'

In [103]:
s.count('l')

3

In [104]:
s.count('l',4)

1

In [105]:
s.count('l',3)

2

In [106]:
s.count('l',2)

3

In [107]:
s.count('or',5)

1

In [108]:
s.find('l')

2

In [109]:
s.rfind('l')

9

In [110]:
s.replace('hello','hi')

'hi world'

In [111]:
s

'hello world'

In [112]:
s.center(30,'-')

'---------hello world----------'

In [113]:
s

'hello world'

In [114]:
s='hhhhhhello worldhhhhhhhhhh'

In [115]:
s.strip('h')

'ello world'

In [116]:
s.rstrip('h')

'hhhhhhello world'

In [117]:
s.lstrip('h')

'ello worldhhhhhhhhhh'

In [118]:
s.startswith('hh')

True

In [119]:
s.endswith('hh')

True

In [120]:
s.endswith('vv')

False

In [121]:
s.swapcase()

'HHHHHHELLO WORLDHHHHHHHHHH'

In [122]:
s.islower()

True

In [123]:
s.isupper()

False

In [124]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [125]:
s.split()

['hhhhhhello', 'worldhhhhhhhhhh']

In [126]:
s

'hhhhhhello worldhhhhhhhhhh'

## Lists and Tuples

List is a mutable, ordered data type of python

It is heterogeneous in nature

In [ ]:
l1 = []
type(l1)

In [ ]:
l2 = [11,26,48,89,66]

In [ ]:
len(l2)

In [ ]:
max(l2)

In [ ]:
min(l2)

In [ ]:
sum(l2)

In [ ]:
l2[0]

In [ ]:
l2[4]

In [ ]:
l2[6]

In [ ]:
l2[-1]
l2

In [ ]:
l2.append(321)
l2

In [ ]:
l2.append('India')
l2

In [ ]:
l2.pop(1)
l2

In [ ]:
l2.remove(321)
l2

In [ ]:
l3 = ['a',1,6,78,'Capgemini']
l3

In [ ]:
l3[2] = 'Hello wolrd'
l3

In [ ]:
l3[1:4]

In [ ]:
l3[0] = 'b'

In [ ]:
dir(list)

## Tuples

In [ ]:
t1 = ()
type(t1)

In [ ]:
t2 = ('a','p','p','l','e')
t2

In [ ]:
t3 = (1,'a',36,74,36,'oneplus3','Data Science')
t3

In [ ]:
t3.count(36)

In [ ]:
t3.index(74)

In [ ]:
t3[5]

In [ ]:
t3[-2]

In [ ]:
t3[0]

In [ ]:
t3[0] = 'Hello world'

In [ ]:
dir(tuple)

In [ ]:
l3

In [ ]:
l3.insert(0,'a')
l3

In [ ]:
l5 = [1,2,3]
l6 = l3+l5

In [ ]:
l6

In [ ]:
l7 = l5*2
l7

In [ ]:
l8 = [1,2,('a','b',1)]
l8

## Dictionaries
Dictionary is mutable and unordered Similar to associative arrays or hashes. Store each piece of data, called a value, based on an associated data item, called a key

In [ ]:
d1 = {}
d2 = {'John':'john@gmail.com','Peter':'peter@yahoo.co.in','Tom':'tom@gmail.com'}

In [ ]:
d2

#### Access dictionary elements

In [ ]:
d2['Peter']

In [ ]:
d2['Usha']

#### Update dictionary

In [ ]:
d2['Smith']='smith@rediff.com'
d2

#### Remove elements from Dictionary

In [ ]:
del d2['John']
d2

#### Finding the length of dictionary

In [ ]:
len(d2)

#### Built-in Methods

In [ ]:
d2.get('Peter')

In [ ]:
d2.items()

In [ ]:
d2.keys()

In [ ]:
d2.values()

In [ ]:
d3 = {'Harry':'harry@gmail.com','Mary':'mary@gmail.com'}
d3

In [ ]:
d2

In [ ]:
d2.update(d3)

In [ ]:
d2

In [ ]:
d3

In [ ]:
d3.clear()
d3

#### More Than One Entry per Key Not Allowed

In [ ]:
d4 = {'empid':1234,'empid':567}

In [ ]:
d4['empid']

#### Keys Must Be Immutable

In [ ]:
d2

In [ ]:
d2[['Tom']] = 'Jerry'

In [ ]:
dir(d2)

### Sets

In [ ]:
t5 = (2,5,7,2,8,2,9,6,2)
t5

In [ ]:
s2 = set(t5)
s2

In [ ]:
s1 = {1,2,3}
s1

In [ ]:
s3 = s2.union(s1)
s3

In [ ]:
s1.intersection(s2)

In [ ]:
s1.difference(s2)

In [ ]:
s2.difference(s1)

In [ ]:
s1 - s2

In [ ]:
s1[2]

In [ ]:
s4 = {1,2,3,4,5,6,7,8,9}
s5 = {6,7,8}

In [ ]:
s4.issubset(s5)

In [ ]:
s5.issubset(s4)

In [ ]:
s4.issuperset(s5)

In [ ]:
s1.add(4)
s1

In [ ]:
s1.add(6,8,9)
s1

In [ ]:
s1.clear()
s1

In [ ]:
s7 = {65,23,87,9,45}

In [ ]:
s3

In [ ]:
s7.update(s3)

In [ ]:
s7

In [ ]:
s7.pop()

In [ ]:
s7.pop()

In [ ]:
s7.pop()

In [ ]:
s7

In [ ]:
s7.remove(7)

In [ ]:
s7

In [ ]:
dir(set)

###  For Loops

In [ ]:
for i in range (10):
    print(i,end =' ')

In [ ]:
for num in range (1,11):
    print(num)

In [ ]:
for j in range (1,10,2):
    print(j)

In [ ]:
for k in range(0,10,2):
    print(k)

In [ ]:
s = 'Capgemini'
for letters in s:
    print(letters)

In [ ]:
names = ['Mike','Jassica','Harvey','Donna']
for val in names:
    print('Hello ' + str(val))

In [ ]:
s = 'Welcome to Capgemini'
for words in s.split():
    print(words)

In [ ]:
l = []
for num in [1,2,5,76,82,1,5]:
    sqr = num ** 2
    l.append(sqr)
print(l)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for items in d1:
    print(items)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for items in d1.keys():
    print(items)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for items in d1.values():
    print(items)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for k,v in d1.items():
    print(k,v)

#### Break and Continue statements

In [127]:
for i in range(10):
    if i == 5:
        continue
    print("Num Value is:",i)

Num Value is: 0
Num Value is: 1
Num Value is: 2
Num Value is: 3
Num Value is: 4
Num Value is: 6
Num Value is: 7
Num Value is: 8
Num Value is: 9

In [128]:
for i in range(10):
    if i == 5:
        break
    print("Num Value is:",i)

Num Value is: 0
Num Value is: 1
Num Value is: 2
Num Value is: 3
Num Value is: 4

## while Statement
conditional looping statement

In [ ]:
count = 0
while (count < 9):
    print('the index is:', count)
    count = count + 1

## List Comprehensions

In [129]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [130]:
l = [0 if x%2==0 else 1 for x in range(50)]

In [131]:
print(l)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [132]:
l = [x**2 if x%2==0 else x/2 for x in range(25)]
print(l)

[0, 0.5, 4, 1.5, 16, 2.5, 36, 3.5, 64, 4.5, 100, 5.5, 144, 6.5, 196, 7.5, 256, 8.5, 324, 9.5, 400, 10.5, 484, 11.5, 576]

## Functions

Write once and use many times

Keywords: def and return

In [ ]:
def rup_to_usd(amount):
    '''This function converts the given amount in INR to USD equivalent
    Formula: 0.0149 is the conversion factor
    Input: Amount in Rupees
    Output: Amount in USD'''
    value = amount * 0.0149
    return value

rup_to_usd(100)

In [ ]:
rup_to_usd(200)

In [ ]:
rup_to_usd(1000)

In [ ]:
rup_to_usd(2000)

In [ ]:
rup_to_usd(100,200)

In [ ]:
rup_to_usd('a')

In [ ]:
def usd_to_rupee(amount):
    '''This function converts the given amount in USD to INR equivalent
    Formula: 66.945 is the conversion factor
    Input: Amount in Rupees
    Output: Amount in USD'''
    value = amount * 66.945
    return value

print(usd_to_rupee(10))

In [ ]:
usd_to_rupee(100)

In [ ]:
usd_to_rupee(20)

In [ ]:
usd_to_rupee(200)

In [ ]:
def Bmi_cal(w,h):
    """This function calculates the Body mass index
    and the inputs are weight and height
    Input: Weight in Kgs
           height in meters
    Formula: weight in Kgs/ height square in meters
    output: Category in which the calculated BMI falls"""
    bmi = w/h**2
    print(bmi)
    if bmi < 20.7:
        return('under weight')
        print('Hi')
    elif bmi >= 20.7 and bmi <= 26.4:
        return('With in normal range')
    elif bmi > 26.4 and bmi <= 27.8:
        return('marginally overweight')
    elif bmi > 27.8 and bmi <= 31.1:
        return('overweight')
    else:
        return('obese')
    
Bmi_cal(58,1.73)

In [ ]:
Bmi_cal(68,1.73)

In [ ]:
Bmi_cal(82,1.73)

In [ ]:
Bmi_cal(90,1.73)

In [ ]:
Bmi_cal(112,1.73)

In [ ]:
def marks_calc(p,m,c):
    ''' This function calculates the total and average of 3 subjects
        Input: Marks obtained in three subjects in int or float
        Formula: total = p+m+c, Average = total/3
        output: total and average'''
    tot = p+m+c
    avg = tot/3
    return tot,avg

physics = float(input('Enter your marks in Physics: '))
maths = float(input('Enter your marks in maths: '))
chemistry = float(input('Enter your marks in chemistry: '))
marks_calc(physics,maths,chemistry)

In [ ]:
def adder(x,y,z=0):
    ''' This function takes two 0r three arguments and returns the sum of these arguments
        Input: Numbers in int or float
        Formula: x+y+z
        output: Numbers'''
    result = x+y+z
    return result

adder(2,3)

In [ ]:
adder(3,3,4)

In [ ]:
adder(2,5,0)

In [ ]:
adder(12)

In [ ]:
def si():
    p = p + 900
    print(p)
    si = (p*t*r)/100
p = 100
t = 3
r = 9
simple_interest = si()
print(p,simple_interest)

In [ ]:
def si():
    global p
    p = p + 900
    print(p)
    si = (p*t*r)/100
p = 100
t = 3
r = 9
simple_interest = si()
print(p,simple_interest)

### File handling

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
for lines in fh:
    print(lines)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
for lines in fh:
    lst_of_words = lines.split()
    print(lst_of_words)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
for lines in fh:
    lst_of_words = lines.split()
    for words in lst_of_words:
        print(words)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
l = []
for lines in fh:
    lst_of_words = lines.split()
    for words in lst_of_words:
        l.append(words)
print(l)
count_of_words = len(l)
print('No of words in the file is :',count_of_words)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
l = []
for lines in fh:
    lst_of_words = lines.split()
    for words in lst_of_words:
        l.append(words)
d = {}
for item in l:
    d[item] = d.get(item,0)+1
print(d)

In [ ]:
d['great']

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
for lines in fh.readlines()[-3:]:
    print(lines)

In [ ]:
s = 'way.'

In [ ]:
p= s.rstrip('.')
p

## CSV File

In [ ]:
import csv

In [ ]:
fileHandler = open('SampleCSV.csv')

In [ ]:
reader = csv.reader(fileHandler)

#### Converting reader object to python list

In [ ]:
data = list(reader)

In [ ]:
data

In [ ]:
data[0][0]

In [ ]:
data[3][0]

#### Reading data from CSV using for loop

In [ ]:
fileHandler = open('SampleCSV.csv')
reader = csv.reader(fileHandler)
for row in reader:
    print('Row #' + str(reader.line_num) + ' ' + str(row))

## openpyxl - module allows your Python programs to read & modify Excel spreadsheet files

In [ ]:
import openpyxl

In [ ]:
wb = openpyxl.load_workbook(r'SampleExcel.xlsx')

In [ ]:
wb.get_sheet_names()

In [ ]:
sheet = wb.get_sheet_by_name('Sheet3')

In [ ]:
sheet.title

In [ ]:
anotherSheet = wb.active

In [ ]:
anotherSheet

In [ ]:
sheet = wb.get_sheet_by_name('Sheet1')

In [ ]:
sheet['A1']

In [ ]:
sheet['A1'].value

In [ ]:
c = sheet['B1'].value
c

#### Cell object has a value attribute that contains the value stored in that cell

In [ ]:
c.value
c.value

#### Cell objects also have row, column, and coordinate attributes that provide location information for the cell

In [ ]:
'Row ' + str(c.row) + ', Column ' + c.column + ' is ' + c.value

In [ ]:
'Cell ' + c.coordinate + ' is ' + c.value

In [ ]:
sheet['C1'].value

#### Get the cell using row and column keyword arguments

In [ ]:
sheet.cell(row=1, column=2)

In [ ]:
sheet.cell(row=1, column=2).value

In [ ]:
for i in range(1, 8, 2):
        print(i, sheet.cell(row=i, column=2).value)

#### Finding size of sheet

In [ ]:
sheet.max_row

In [ ]:
sheet.max_column

In [ ]:
for eachRow in sheet['A2':'G9']:
    for eachCell in eachRow:
        print(eachCell.coordinate, eachCell.value)
    print('--- END OF ROW ---')