## Introduction to Data Analytics in Python using Jupyter Notebook

### Introduction to Python and Anaconda Package
    A breif history on Python
    Downloading the anaconda Package https://www.continuum.io/downloads
    Installing Anaconda on the machine 
    Setting up path vairable

### Spyder  IDE and Jupyter Notebook
    Various panes in the Syder IDE 
    Working in a Jupyter Notebook https://www.cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/

### Getting started in Python
    Python a High level Interpreted language
    Execution Flow
    Variables and it's naming Conventions
    Print a statement on the console
    Taking an Input from the user
    Type and ID function
    Keywords in python

In [ ]:
a = 3

In [ ]:
id(3)

In [ ]:
print(id(a))

In [ ]:
b = 'Hello World'

In [ ]:
print(id(b))

In [ ]:
a = 5

In [ ]:
print(id(a))

In [ ]:
f = 3.141256

In [ ]:
c = 5+8j

In [ ]:
c.real

In [ ]:
c.imag

In [ ]:
v = 'p'

In [ ]:
d = 3.142

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
print ('Hello world')

In [ ]:
print ("what are you doing")

In [ ]:
print ("It's my book")

In [ ]:
print ('Capgemini- "People matter Results Count"')

In [ ]:
Emp_id = int (input('Enter your Employee ID: '))
print('Employee ID is ',Emp_id)

In [ ]:
Name = input('Enter your Name:')
Name

In [ ]:
type(Emp_id)

In [ ]:
type(Name)

In [ ]:
id(Emp_id)

In [ ]:
id(Name)

In [ ]:
import keyword
print(keyword.kwlist)

# Operators

##### Mathematical operators: Addition, Subtraction, Multiplication,Division, Numerical Division,Expoenent, Modulus Operator
##### Condition operators > < == != >= <=
##### Logical Operators: and, or , not using Conditional statements
##### Boolena Operators: True and False
##### Functions: Max(), Min(),Sum(),len()

In [ ]:
# Addition
a = 5
b = 18
c = a + b 
c

In [ ]:
# Subtraction
d = a - b
e = b - a
print('The value of d is:',d)
e

In [ ]:
#Multiplication
f = a * b * 1.2
f

In [ ]:
#Division
g = a/b
h = b/a
print('The value of h is:',h)
g

In [ ]:
#Numerical Division
i = a // b
j = b // a
print('The value of j is:', j)
i

In [ ]:
#Exponent
k = 6 ** 2
l = 25 ** 3
print(k,l)

In [ ]:
#Modulus Operator
m = 4 % 3
print(m)
n = 35 % 18
print(n)

In [ ]:
score = int (input('Enter your score: '))
if score > 40:
    print('D Grade')

In [ ]:
score = int (input('Enter your score: '))
if score >= 40 and  score < 60:
    print('D Grade')
elif score < 75 and score <= 60:
    print('C Grade')

In [ ]:
score = int (input('Enter your score: '))
if score >= 40 and  score < 60:
    print('D Grade')
elif score >= 60 and score < 75:
    print('C Grade')
elif score >= 75 and score < 90:
    print('B Grade')
else:
    print('A Grade')

In [ ]:
score = int (input('Enter your score: '))
if score < 40:
    print('E Grade')
elif score >= 40 and  score < 60:
    print('D Grade')
elif score >= 60 and score < 75:
    print('C Grade')
elif score >= 75 and score < 90:
    print('B Grade')
else:
    print('A Grade')

In [ ]:
per_marks = float(input('Enter the percentage marks obtained: '))
per_attandance = float(input('Enter the percentage Attendance: '))
if per_marks >= 40 and per_attandance >= 70:
    print('Promoted')
else:
    print('percentage marks or attendance is lesser than required')

In [ ]:
state = input('Enter your state Name: ')
if ((state == 'Karnataka') or (state =='Punjab') or (state =='Kerala') or (state == 'Gujarath')):
    print('India')
elif ((state == 'Los angeles') or (state == 'california') or (state == 'washington')):
    print('US')

## Lists and Tuples

List is a mutable, ordered data type of python

It is heterogeneous in nature

In [ ]:
l1 = []
type(l1)

In [ ]:
l2 = [11,26,48,89,66]

In [ ]:
len(l2)

In [ ]:
max(l2)

In [ ]:
min(l2)

In [ ]:
sum(l2)

In [ ]:
l2[0]

In [ ]:
l2[4]

In [ ]:
l2[6]

In [ ]:
l2[-1]
l2

In [ ]:
l2.append(321)
l2

In [ ]:
l2.append('India')
l2

In [ ]:
l2.pop(1)
l2

In [ ]:
l2.remove(321)
l2

In [ ]:
l3 = ['a',1,6,78,'Capgemini']
l3

In [ ]:
l3[2] = 'Hello wolrd'
l3

In [ ]:
l3[1:4]

In [ ]:
l3[0] = 'b'

In [ ]:
dir(list)

## Tuples

In [ ]:
t1 = ()
type(t1)

In [ ]:
t2 = ('a','p','p','l','e')
t2

In [ ]:
t3 = (1,'a',36,74,36,'oneplus3','Data Science')
t3

In [ ]:
t3.count(36)

In [ ]:
t3.index(74)

In [ ]:
t3[5]

In [ ]:
t3[-2]

In [ ]:
t3[0]

In [ ]:
t3[0] = 'Hello world'

In [ ]:
dir(tuple)

In [ ]:
l3

In [ ]:
l3.insert(0,'a')
l3

In [ ]:
l5 = [1,2,3]
l6 = l3+l5

In [ ]:
l6

In [ ]:
l7 = l5*2
l7

In [ ]:
l8 = [1,2,('a','b',1)]
l8

### Sets

In [ ]:
t5 = (2,5,7,2,8,2,9,6,2)
t5

In [ ]:
s2 = set(t5)
s2

In [ ]:
s1 = {1,2,3}
s1

In [ ]:
s3 = s2.union(s1)
s3

In [ ]:
s1.intersection(s2)

In [ ]:
s1.difference(s2)

In [ ]:
s2.difference(s1)

In [ ]:
s1 - s2

In [ ]:
s1[2]

In [ ]:
s4 = {1,2,3,4,5,6,7,8,9}
s5 = {6,7,8}

In [ ]:
s4.issubset(s5)

In [ ]:
s5.issubset(s4)

In [ ]:
s4.issuperset(s5)

In [ ]:
s1.add(4)
s1

In [ ]:
s1.add(6,8,9)
s1

In [ ]:
s1.clear()
s1

In [ ]:
s7 = {65,23,87,9,45}

In [ ]:
s3

In [ ]:
s7.update(s3)

In [ ]:
s7

In [ ]:
s7.pop()

In [ ]:
s7.pop()

In [ ]:
s7.pop()

In [ ]:
s7

In [ ]:
s7.remove(7)

In [ ]:
s7

In [ ]:
dir(set)

###  For Loops

In [ ]:
for i in range (10):
    print(i,end =' ')

In [ ]:
for num in range (1,11):
    print(num)

In [ ]:
for j in range (1,10,2):
    print(j)

In [ ]:
for k in range(0,10,2):
    print(k)

In [ ]:
s = 'Capgemini'
for letters in s:
    print(letters)

In [ ]:
names = ['Mike','Jassica','Harvey','Donna']
for val in names:
    print('Hello ' + str(val))

In [ ]:
s = 'Welcome to Capgemini'
for words in s.split():
    print(words)

In [ ]:
l = []
for num in [1,2,5,76,82,1,5]:
    sqr = num ** 2
    l.append(sqr)
print(l)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for items in d1:
    print(items)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for items in d1.keys():
    print(items)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for items in d1.values():
    print(items)

In [ ]:
d1 = {'Mobile':2,'Charger':1,'Headset':5}
for k,v in d1.items():
    print(k,v)

## Functions

Write once and use many times

Keywords: def and return

In [ ]:
def rup_to_usd(amount):
    '''This function converts the given amount in INR to USD equivalent
    Formula: 0.0149 is the conversion factor
    Input: Amount in Rupees
    Output: Amount in USD'''
    value = amount * 0.0149
    return value

rup_to_usd(100)

In [ ]:
rup_to_usd(200)

In [ ]:
rup_to_usd(1000)

In [ ]:
rup_to_usd(2000)

In [ ]:
rup_to_usd(100,200)

In [ ]:
rup_to_usd('a')

In [ ]:
def usd_to_rupee(amount):
    '''This function converts the given amount in USD to INR equivalent
    Formula: 66.945 is the conversion factor
    Input: Amount in Rupees
    Output: Amount in USD'''
    value = amount * 66.945
    return value

usd_to_rupee(10)

In [ ]:
usd_to_rupee(100)

In [ ]:
usd_to_rupee(20)

In [ ]:
usd_to_rupee(200)

In [ ]:
def Bmi_cal(w,h):
    """This function calculates the Body mass index
    and the inputs are weight and height
    Input: Weight in Kgs
           height in meters
    Formula: weight in Kgs/ height square in meters
    output: Category in which the calculated BMI falls"""
    bmi = w/h**2
    print(bmi)
    if bmi < 20.7:
        return('under weight')
    elif bmi >= 20.7 and bmi <= 26.4:
        return('With in normal range')
    elif bmi > 26.4 and bmi <= 27.8:
        return('marginally overweight')
    elif bmi > 27.8 and bmi <= 31.1:
        return('overweight')
    else:
        return('obese')
    
Bmi_cal(58,1.73)

In [ ]:
Bmi_cal(68,1.73)

In [ ]:
Bmi_cal(82,1.73)

In [ ]:
Bmi_cal(90,1.73)

In [ ]:
Bmi_cal(112,1.73)

In [ ]:
def marks_calc(p,m,c):
    ''' This function calculates the total and average of 3 subjects
        Input: Marks obtained in three subjects in int or float
        Formula: total = p+m+c, Average = total/3
        output: total and average'''
    tot = p+m+c
    avg = tot/3
    return (tot,avg)

physics = float(input('Enter your marks in Physics: '))
maths = float(input('Enter your marks in maths: '))
chemistry = float(input('Enter your marks in chemistry: '))
marks_calc(physics,maths,chemistry)

In [ ]:
def adder(x,y,z=0):
    ''' This function takes two 0r three arguments and returns the sum of these arguments
        Input: Numbers in int or float
        Formula: x+y+z
        output: Numbers'''
    result = x+y+z
    return result

adder(2,3)

In [ ]:
adder(3,3,4)

In [ ]:
adder(2,5,0)

In [ ]:
adder(12)

In [ ]:
def si():
    p = p + 900
    print(p)
    si = (p*t*r)/100
p = 100
t = 3
r = 9
simple_interest = si()
print(p,simple_interest)

In [ ]:
def si():
    global p
    p = p + 900
    print(p)
    si = (p*t*r)/100
p = 100
t = 3
r = 9
simple_interest = si()
print(p,simple_interest)

### File handling

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
for lines in fh:
    print(lines)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
for lines in fh:
    lst_of_words = lines.split()
    print(lst_of_words)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
for lines in fh:
    lst_of_words = lines.split()
    for words in lst_of_words:
        print(words)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
l = []
for lines in fh:
    lst_of_words = lines.split()
    for words in lst_of_words:
        l.append(words)
print(l)
count_of_words = len(l)
print(count_of_words)

In [ ]:
fh = open (r'C:\Users\kkv1\Desktop\sample.txt')
l = []
for lines in fh:
    lst_of_words = lines.split()
    for words in lst_of_words:
        l.append(words)
d = {}
for item in l:
    d[item] = d.get(item,0)+1
print(d)