In [123]:
import pandas as pd
import numpy as np
import re

def get_energy():
    energy = pd.read_excel('Energy Indicators.xls', sheetname = 'Energy', header = 15, skip_footer = 38)
    energy.drop(['Unnamed: 0','Unnamed: 1'], axis = 1, inplace = True)
    energy.rename(columns = {'Unnamed: 2' : 'Country', 'Renewable Electricity Production' : '% Renewable'},inplace = True)
    energy.drop(0, axis = 0, inplace = True)
    energy.replace('...', np.nan, inplace = True)

    val = '[a-zA-Z,\s]+'
    l = []
    for i in energy['Country']:
        res = re.search(val,i)
        s = res.group(0)
        l.append(s)
    energy['Country'] = l

    con_energy = energy['Energy Supply']
    con_energy *=  1000000
    energy.fillna(value = np.nan , inplace = True)
    energy.replace({"Republic of Korea": "South Korea",
                 "United States of America": "United States",
                 "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                 "China, Hong Kong Special Administrative Region": "Hong Kong",
                 "Iran ": "Iran"}, inplace = True)
    return energy

def get_GDP():
    GDP = pd.read_csv('world_bank.csv',header = 4)
    GDP.rename(columns = {'Country Name' : 'Country'}, inplace = True)
    GDP.replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}, inplace = True)
    GDP.drop(GDP.columns[1:50],axis = 1,inplace = True)
    return GDP

def get_ScimEn():
    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    return ScimEn

def answer_one():
    energy = get_energy()
    energy = energy.set_index('Country')
    GDP = get_GDP()
    GDP = GDP.set_index('Country')
    ScimEn = get_ScimEn()
    ScimEn = ScimEn[ScimEn['Rank'] < 16]
    ScimEn =ScimEn.set_index('Country')
    pre = pd.merge(ScimEn, energy, how = 'inner', left_index=True, right_index=True )
    final = pd.merge(pre, GDP, how = 'inner', left_index=True, right_index=True)
    final.sort(columns = 'Rank', axis = 0, ascending=True, inplace = True)
    return final

df = answer_one()
df.reset_index(inplace = True)
df

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,Country,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
11,Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
13,Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
14,Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [124]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
ContinentDict

{'Australia': 'Australia',
 'Brazil': 'South America',
 'Canada': 'North America',
 'China': 'Asia',
 'France': 'Europe',
 'Germany': 'Europe',
 'India': 'Asia',
 'Iran': 'Asia',
 'Italy': 'Europe',
 'Japan': 'Asia',
 'Russian Federation': 'Europe',
 'South Korea': 'Asia',
 'Spain': 'Europe',
 'United Kingdom': 'Europe',
 'United States': 'North America'}

In [125]:
key = list(ContinentDict.values())
value = list(ContinentDict.keys())
s = pd.Series(value, index = key)
df1 = pd.DataFrame(s)
df1.rename(columns = {0 : 'Country'},inplace = True)
df1.reset_index(inplace = True)
df2 = pd.merge(df1, df, how = 'left', left_on = 'Country', right_on = 'Country' )
df3 = df2[['index', 'Country', 'Energy Supply', 'Energy Supply per capita']]
df3['Pop_estimate'] = df3['Energy Supply'] / df3['Energy Supply per capita']
df3.drop(['Energy Supply', 'Energy Supply per capita'], axis = 1, inplace = True)
df4 = df3.groupby('index')['Pop_estimate'].agg({'size': np.size, 'sum' : np.sum, 'mean' : np.average, 'std' : np.std})
df4

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

               size           std           sum          mean
index
Asia            5.0  6.790979e+08  2.898666e+09  5.797333e+08
Australia       1.0           NaN  2.331602e+07  2.331602e+07
Europe          6.0  3.464767e+07  4.579297e+08  7.632161e+07
North America   2.0  1.996696e+08  3.528552e+08  1.764276e+08
South America   1.0           NaN  2.059153e+08  2.059153e+08

In [126]:
key = list(ContinentDict.values())
value = list(ContinentDict.keys())
s = pd.Series(value, index = key)
df1 = pd.DataFrame(s)
df1.rename(columns = {0 : 'Country'},inplace = True)
df1.reset_index(inplace = True)
df5 = df1[['index','Country']]
df6 = pd.merge(df5, df, how = 'left', left_on = 'Country', right_on = 'Country' )
df7 = df6[['index','Country','% Renewable']]
df7['bin'] = pd.cut(df7['% Renewable'], 5)
df7
df8 = df7.groupby(['index','bin'])['Country'].agg(np.size)
df8

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

index          bin
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
Name: Country, dtype: int64

In [140]:
df['Pop_estimate'] = df['Energy Supply'] / df['Energy Supply per capita']
l = list(df['Pop_estimate'].astype(str))
for i in l:
    j = i.split('.')
    a = j[0]
    print(a)
    len_of = len(a)
    if len_of % 3 == 0:

1367645161
317615384
127409395
63870967
143500000
35239864
80369696
1276730769
63837349
49805429
59908256
46443396
77075630
23316017
205915254