In [2]:
import numpy as np
import pandas as pd

In [3]:
a = [10,54,34,67,81,62,33,84,5]

In [4]:
b = pd.Series(a)
b

0    10
1    54
2    34
3    67
4    81
5    62
6    33
7    84
8     5
dtype: int64

In [5]:
b[5]

62

In [6]:
b.loc[5]

62

In [7]:
b.iloc[1]

54

In [8]:
c = pd.Series([2,3,1,4])
c

0    2
1    3
2    1
3    4
dtype: int64

In [9]:
c[0]

2

In [10]:
c[3]

4

In [11]:
d = pd.Series(np.random.randint(0,10,2))

In [12]:
d

0    5
1    1
dtype: int32

In [13]:
d

0    5
1    1
dtype: int32

In [14]:
len(d)

2

In [15]:
%%timeit -n 100
e = pd.Series(np.random.randint(1,100,100))
for i,j in e.iteritems():
    e.loc[i] = j+2

100 loops, best of 3: 13 ms per loop

In [16]:
%%timeit -n 100
e = pd.Series(np.random.randint(1,100,100))
e += 2

100 loops, best of 3: 323 Âµs per loop

In [17]:
c

0    2
1    3
2    1
3    4
dtype: int64

In [18]:
c.loc['apple'] = 1

In [19]:
c

0        2
1        3
2        1
3        4
apple    1
dtype: int64

In [20]:
c.loc[0] = 1
c

0        1
1        3
2        1
3        4
apple    1
dtype: int64

Even though it is possible to add a new value to the series the value cannot be a sequence, but it is possble to have a sequence  while creating a series

In [21]:
c.loc['water'] = [1,2,3,41]
c

0                    1
1                    3
2                    1
3                    4
apple                1
water    [1, 2, 3, 41]
dtype: object

In [22]:
c

0                    1
1                    3
2                    1
3                    4
apple                1
water    [1, 2, 3, 41]
dtype: object

In [23]:
f = pd.Series([1,[2,3,4],[123,456],89])
f

0             1
1     [2, 3, 4]
2    [123, 456]
3            89
dtype: object

In [24]:
original_sports = pd.Series({'Kabbadi':'India','Cricket':'Srilanka','Swimming':'Australia','Swimming':'South Africa',})
original_sports

Cricket         Srilanka
Kabbadi            India
Swimming    South Africa
dtype: object

In [25]:
cricket_loving_countries = pd.Series(['England','West Indies','Kenya','Afghan','Bangladesh','Pakistan'], index = ['Cricket','Cricket','Cricket','Cricket','Cricket','Cricket',])
cricket_loving_countries

Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [26]:
all_countires = original_sports.append(cricket_loving_countries)
all_countires

Cricket         Srilanka
Kabbadi            India
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

In [27]:
all_countires.loc['Cricket']

Cricket       Srilanka
Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [28]:
all_countires

Cricket         Srilanka
Kabbadi            India
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

In [29]:
person1 = pd.Series({'Name': 'KARTHIK K V',
                    'Age': 26,'Employed': 'Capgemini'})
person1

Age                  26
Employed      Capgemini
Name        KARTHIK K V
dtype: object

In [30]:
person2 = pd.Series({'Name': 'Nagashree S',
                    'Age': 26,'Employed': 'Accenture'})
person2

Age                  26
Employed      Accenture
Name        Nagashree S
dtype: object

In [31]:
person3 = pd.Series({'Name': 'Ritisha S',
                    'Age': 7,'Employed': 'DAV'})
person3

Age                 7
Employed          DAV
Name        Ritisha S
dtype: object

In [32]:
df1 = pd.DataFrame([person1,person2,person3], index = ['C1','C1','C2'])
df1

    Age   Employed         Name
C1   26  Capgemini  KARTHIK K V
C1   26  Accenture  Nagashree S
C2    7        DAV    Ritisha S

On using the loc attribute on a Index value that is unique a series is retuened with the entier series associated with it

In [33]:
df1.loc['C2']

Age                 7
Employed          DAV
Name        Ritisha S
Name: C2, dtype: object

In [34]:
type(df1.loc['C2'])

pandas.core.series.Series

The index value need not be unique and in case there are multiple series with the same index name then on using the loc attribute a DataFrame is returned as shown below

In [35]:
df1.loc['C1']

    Age   Employed         Name
C1   26  Capgemini  KARTHIK K V
C1   26  Accenture  Nagashree S

In [36]:
df1

    Age   Employed         Name
C1   26  Capgemini  KARTHIK K V
C1   26  Accenture  Nagashree S
C2    7        DAV    Ritisha S

It is possible to have all the elements from a column be printed at once using the index operator where the name of the column is given inside the ig brackets in all these cases the correspondiing index is also printed along with the column name.
The return type will have column name along with the datatype of the value.

In [37]:
df1['Age']

C1    26
C1    26
C2     7
Name: Age, dtype: int64

In [38]:
df1['Employed']

C1    Capgemini
C1    Accenture
C2          DAV
Name: Employed, dtype: object

It is possible to find out a value in a paticular cell of a dataframe by using the loc operator along with the name of the column, if the index and the column are unique then a single value in the cell is returned and if the index value is not unique the all the values that maps to inex cross lable name will be printed as output

In [39]:
df1.loc['C2','Age']

7

In [40]:
df1.loc['C1','Age']

C1    26
C1    26
Name: Age, dtype: int64