# Data Analytics with Python

Importing pandas and Numpy modules

In [41]:
import numpy as np
import pandas as pd

In [42]:
a = [10,54,34,67,81,62,33,84,5]

In [43]:
b = pd.Series(a) #Converting a list to a series
b

0    10
1    54
2    34
3    67
4    81
5    62
6    33
7    84
8     5
dtype: int64

In [44]:
b[5] # Accessing an element from the series using the index

62

In [45]:
b.loc[5] #Using .loc attribute

62

In [46]:
b.iloc[5] #using .iloc attribute

62

In [47]:
c = pd.Series([2,3,1,4])
c

0    2
1    3
2    1
3    4
dtype: int64

In [48]:
c[0]

2

In [49]:
c[3]

4

In [50]:
z = np.random.randint(0,10,2)
z #here the 1st Arg is lower limit and 2nd Arg is the upper limit and the 3rd one is the number of randam numbers to generated

array([3, 4])

In [51]:
d = pd.Series(z) # Creating a series using numpy

In [52]:
d

0    3
1    4
dtype: int32

In [53]:
len(d)

2

In [54]:
np.random.randint(1,100,3)

array([48, 57, 44])

In [55]:
e = pd.Series(np.random.randint(1,100,10))
print(e)
for i,j in e.iteritems():
    print (i,j)

0    75
1    18
2    14
3    71
4    60
5    86
6    11
7    38
8    56
9    72
dtype: int32
0 75
1 18
2 14
3 71
4 60
5 86
6 11
7 38
8 56
9 72

In [56]:
%%timeit -n 100 # Calculating the time needed to execute this block
e = pd.Series(np.random.randint(1,100,100))
for i,j in e.iteritems():
    e.loc[i] = j+2

100 loops, best of 3: 13 ms per loop

In [57]:
%%timeit -n 100 # Calculating the time needed to execute this block
e = pd.Series(np.random.randint(1,100,100))
e += 2

100 loops, best of 3: 320 µs per loop

In [58]:
c

0    2
1    3
2    1
3    4
dtype: int64

In [59]:
c.loc['apple'] = 1 # Adding an Element to a series

In [60]:
c

0        2
1        3
2        1
3        4
apple    1
dtype: int64

In [61]:
c.loc[0] = 133 # assigning a new value to an index in teh series
c

0        133
1          3
2          1
3          4
apple      1
dtype: int64

It is possible to add a new value to the series the value can be a sequence also

In [62]:
c.loc['water'] = [1,2,3,41]
c

0                  133
1                    3
2                    1
3                    4
apple                1
water    [1, 2, 3, 41]
dtype: object

In [63]:
f = pd.Series([1,[2,3,4],[123,456],89])
f

0             1
1     [2, 3, 4]
2    [123, 456]
3            89
dtype: object

In [64]:
original_sports = pd.Series({'Kabbadi':'India','Cricket':'Srilanka','Swimming':'South Africa','Polo':'Bangladesh'})
original_sports

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
dtype: object

In [65]:
cricket_loving_countries = pd.Series(['England','West Indies','Kenya','Afghan','Bangladesh','Pakistan'], index = ['Cricket','Cricket','Cricket','Cricket','Cricket','Cricket',])
cricket_loving_countries

Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [66]:
all_countires = original_sports.append(cricket_loving_countries)
all_countires

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

while appending one series to another it can be seen that if there are common element in both the series but with different indices then the resultant series will have both the values and both the indices.
In the above exapmle bangladesh is common in both the series and it has polo as it's index in the first one while it has cricket as it's index in the second so the resultant will have bangladesh as the value for both the index cricket and polo

In [67]:
all_countires.loc['Cricket']

Cricket       Srilanka
Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [68]:
all_countires

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

In [69]:
person1 = pd.Series({'Name': 'Harvey Specter',
                    'Age': 36,'Employed': ' Pearson Specter'})
person1

Age                       36
Employed     Pearson Specter
Name          Harvey Specter
dtype: object

In [70]:
person2 = pd.Series({'Name': 'Jassica Pearson',
                    'Age': 40,'Employed': 'Pearson Specter'})
person2

Age                      40
Employed    Pearson Specter
Name        Jassica Pearson
dtype: object

In [71]:
person3 = pd.Series({'Name': 'Mike Ross',
                    'Age': 27,'Employed': 'Clinic'})
person3

Age                27
Employed       Clinic
Name        Mike Ross
dtype: object

In [72]:
df1 = pd.DataFrame([person1,person2,person3], index = ['C1','C1','C2'])
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

On using the loc attribute on a Index value that is unique a series is returned with the column names from DataFrame as the index of series

In [73]:
df1.loc['C2']

Age                27
Employed       Clinic
Name        Mike Ross
Name: C2, dtype: object

In [74]:
type(df1.loc['C2'])

pandas.core.series.Series

The index value need not be unique and in case there are multiple series with the same index name then on using the loc attribute a DataFrame is returned as shown below

In [75]:
df1.loc['C1']

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson

In [76]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

It is possible to have all the elements from a column be printed at once using the index operator where the name of the column is given inside the big brackets, in all these cases the correspondiing index is also printed along with the column name.
The return type will have column name along with the datatype of the value.

In [77]:
df1['Age']

C1    36
C1    40
C2    27
Name: Age, dtype: int64

In [78]:
df1['Employed']

C1     Pearson Specter
C1     Pearson Specter
C2              Clinic
Name: Employed, dtype: object

df1.loc['Age']
'''The .loc attribute takes the index as the value inside square bracket and if the name of the column is given
it throw a key error'''

It is possible to find out a value in a paticular cell of a dataframe by using the loc operator along with the name of the column, if the index and the column are unique then a single value in the cell is returned and if the index value is not unique then all the values that maps to indices cross Column name will be printed as output and in this case the output is a series

In [80]:
df1.loc['C2','Age']

27

In [81]:
df1.loc['C1','Age']

C1    36
C1    40
Name: Age, dtype: int64

In case there is no index provided while creating a data frame then the index will start from 0

In [82]:
df2 = pd.DataFrame([person1,person2,person3])
df2

   Age          Employed             Name
0   36   Pearson Specter   Harvey Specter
1   40   Pearson Specter  Jassica Pearson
2   27            Clinic        Mike Ross

The indexig operator [] takes the name of column as the argument and returns all the rows under that column as the output

In [83]:
df2['Employed']

0     Pearson Specter
1     Pearson Specter
2              Clinic
Name: Employed, dtype: object

The Transpose of a DataFrame is obtained using the .T operator on the dataframe.
After doing the Transpose column names and index are interchanged [i.e. all column names are now row names and all row names are column names]

In [84]:
df2.T

                         0                1          2
Age                     36               40         27
Employed   Pearson Specter  Pearson Specter     Clinic
Name        Harvey Specter  Jassica Pearson  Mike Ross

In [85]:
df2

   Age          Employed             Name
0   36   Pearson Specter   Harvey Specter
1   40   Pearson Specter  Jassica Pearson
2   27            Clinic        Mike Ross

The transpose of a Dataframe will return a view of the transpose df and will not change the origianl dataframe

In [86]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

# Chaining with .loc but the column name is given as a separate index value

Chaining also does the same what a .loc[index, columnname] would return, but the difference here is that the chaining returns a copy of the dataFrame where as in case of .loc[index, columnname] returns a view of the same data frame.

In case just a view of the Data Frame is what is intended the it is better to use .loc[index, columnname] than chaining, coz chaining takes a longer time to execute.

In [87]:
df1.loc['C1']['Employed']

C1     Pearson Specter
C1     Pearson Specter
Name: Employed, dtype: object

Creating a dataframe by Slicing the rows and explicitly mentioned the name of the column names in a list if more than one column name is required in the view.

In [88]:
df1.loc[: ,['Name','Age']]

               Name  Age
C1   Harvey Specter   36
C1  Jassica Pearson   40
C2        Mike Ross   27

## Dropping rows from the DataFrame using drop

Here the drop function will not change the original Dataframe instead a copy of the df1 has been created and in that copy the row with the index C2 is dropped

In [89]:
df1.drop('C2')

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson

In [90]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

Drop method has two optional parameters, the first one is "inplace" and by default it's value is "false" and if "inplace" is set to true the it will update the df and not the copy of the dataframe.

The second paraeter is "axis", by default it value is zero indicating a row axis.
If it is desiderd to drop a column then axis has to be made 1 along with the name of the column name to be dropped.

In [91]:
df1.drop('C1',inplace = True)

In [92]:
df1

    Age Employed       Name
C2   27   Clinic  Mike Ross

In [93]:
df1.drop('Employed',axis = 1)

    Age       Name
C2   27  Mike Ross

In [94]:
df1 ['Location'] = 'New York'

In [95]:
df1

    Age Employed       Name  Location
C2   27   Clinic  Mike Ross  New York

In [96]:
df1 = pd.DataFrame([person1,person2,person3], index = ['C1','C1','C2'])
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

In [97]:
df1 ['Location'] = 'New York'
df1

    Age          Employed             Name  Location
C1   36   Pearson Specter   Harvey Specter  New York
C1   40   Pearson Specter  Jassica Pearson  New York
C2   27            Clinic        Mike Ross  New York

### Dataframe Indexing and loading

In [98]:
age = df1['Age'] 
age

C1    36
C1    40
C2    27
Name: Age, dtype: int64

In [99]:
age += 2 # This concept is called broadcasting
df1

    Age          Employed             Name  Location
C1   38   Pearson Specter   Harvey Specter  New York
C1   42   Pearson Specter  Jassica Pearson  New York
C2   29            Clinic        Mike Ross  New York

During broadcasting the original dataframe is changed and not a copy of it, one needs to be careful while performing broadcasting on the datframe

In [100]:
df3 = pd.read_csv('olympics.csv')
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
8,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
9,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
10,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
11,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
12,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
14,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
15,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
16,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
17,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
19,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
20,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
21,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
22,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
24,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
25,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
26,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
27,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
28,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
29,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
119,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
120,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
121,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
122,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
123,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
124,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
125,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
126,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
127,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
128,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
129,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
130,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
131,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
132,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
133,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
134,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
135,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
136,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
137,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
138,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
139,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
140,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
141,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
142,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [101]:
df4 = pd.read_csv('olympics.csv', index_col = 0, skiprows = 1)
df4.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [102]:
df4.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [103]:
df4.index

Index(['Afghanistan (AFG)', 'Algeria (ALG)', 'Argentina (ARG)',
       'Armenia (ARM)', 'Australasia (ANZ) [ANZ]', 'Australia (AUS) [AUS] [Z]',
       'Austria (AUT)', 'Azerbaijan (AZE)', 'Bahamas (BAH)', 'Bahrain (BRN)',
       ...
       'Uzbekistan (UZB)', 'Venezuela (VEN)', 'Vietnam (VIE)',
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]',
       'Independent Olympic Participants (IOP) [IOP]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Mixed team (ZZX) [ZZX]', 'Totals'],
      dtype='object', length=147)

.cloumns attribute gives the names of all the columns in the datatframe

.index attribute gives the names of all the index or row name in the datatframe

In [104]:
for col in df4.columns:
    print(col)
    if col[0] == '№':
        print('the length is ',len(col[0]))

№ Summer
the length is  1
01 !
02 !
03 !
Total
№ Winter
the length is  1
01 !.1
02 !.1
03 !.1
Total.1
№ Games
the length is  1
01 !.2
02 !.2
03 !.2
Combined total

In [105]:
for col in df4.columns:
    if col[:2] == '01':
        df4.rename(columns = {col: 'Gold'+col[4:]}, inplace = True)
    elif col[:2] == '02':
        df4.rename(columns = {col: 'Silver'+col[4:]}, inplace = True)
    elif col[:2] == '03':
        df4.rename(columns = {col: 'Bronze'+col[4:]}, inplace = True)
    elif col[:1] == '№':
        df4.rename(columns = {col: '#'+col[2:]}, inplace = True)

df4.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

## Boolena Masking: Boolean masking is the heart of fast and efficient querying in numpy.
A boolena mask is an array which can be one dimensional like a series or two dimensional like a Dateframe,where each of the value in the arrary are True or False, this array is overlaid on the data structure that we are querying.

### Querying a Dataframe

In [106]:
df4['Gold'] > 4

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                   False
Australasia (ANZ) [ANZ]                         False
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                   False
Cameroon (CMR)                                  False
Canada (CAN)                                     True
Chile (CHI) [I]                                 False
China (CHN) [CHN]                                True
Colombia (COL)                                  False
Costa Rica (CRC)                                False
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                              False
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                     False
Chinese Taipei (TPE) [TPE] [TPE2]               False
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                 False
Tunisia (TUN)                                   False
Turkey (TUR)                                     True
Uganda (UGA)                                    False
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                      False
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                   False
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                 False
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                            False
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [107]:
only_gold = df4.where(df4['Gold'] > 0)

In [108]:
only_gold.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

Only those cells which have a number of gold medal's greater than 0 will have a value in them and the rest of them will have Nan.

It is to be noted that for any computation purpose the cell with Nan will not be considered

In [109]:
only_gold['Gold'].count()

100

In [110]:
df4['Gold'].count()

147

In [111]:
only_gold = only_gold.dropna()

In [112]:
only_gold.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [113]:
'''It is not madatory to make use where function for doing the boolean masking,
instead the same can be achieved in the below way also.'''
only_gold1 = df4[df4['Gold'] > 0]
only_gold1

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

### Using | and & operators on Dataframes

In [114]:
len(df4[(df4['Gold'] > 0 )| df4['Gold.1'] > 0])

101

In [115]:
df4[(df4['Gold.1'] > 0) & (df4['Gold'] == 0)]

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

Here we get all the index name by using .index on df4 and once all the index name is obtained it is assigned to a new column name called "country"

In [116]:
df4['Country'] = df4.index
df4.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

#### Set_index method

In [117]:
df4 = df4.set_index('Gold')

In [118]:
df4.head()

,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

For adataframe the index can be reset by using the .reset_index method

In [119]:
df4.reset_index( )
df4.head()

,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

### Multi level indexing
Pandas allows multilevel indexing, this is similar to composite keys in a relational databasae system.

To create a multilevel index we simply call the set index and provide a list of column names that we are interested in.

Pandas will search through these inorder finding the distinct data and forming composite indices.

In [120]:
df5 = pd.read_csv('census.csv')
df5.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

#### .unique() operator on the column of the data frame.
.unique() operator gives all the unique values in that column of dataframe

In [121]:
df5['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [122]:
df5 = df5[df5['SUMLEV'] == 50]
df5.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [123]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']

In [128]:
columns_to_keep

['STNAME',
 'CTYNAME',
 'BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015']

In [124]:
df5 = df5[columns_to_keep]
df5.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [125]:
df5 = df5.set_index(['STNAME','CTYNAME'])
df5.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [126]:
df5.loc['Michigan','Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [127]:
df5.loc[[('Michigan','Washtenaw County'),('Michigan','Wayne')]]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County       977.0      3826.0      3780.0      3662.0
         Wayne                    NaN         NaN         NaN         NaN

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County      3683.0      3709.0         345563.0
         Wayne                    NaN         NaN              NaN

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County         349048.0         351213.0         354289.0
         Wayne                         NaN              NaN              NaN

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County         357029.0         358880.0
         Wayne                         NaN              NaN

In [130]:
df6 = pd.read_csv('log.csv')
df6

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [131]:
df6 = df6.set_index('time')
df6 = df6.sort_index()
df6

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [132]:
df6 = df6.reset_index()

In [133]:
df6

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974424     sue  advanced.html                 23  False    10.0
2   1469974454  cheryl     intro.html                  6    NaN     NaN
3   1469974454     sue  advanced.html                 24    NaN     NaN
4   1469974484  cheryl     intro.html                  7    NaN     NaN
5   1469974514  cheryl     intro.html                  8    NaN     NaN
6   1469974524     sue  advanced.html                 25    NaN     NaN
7   1469974544  cheryl     intro.html                  9    NaN     NaN
8   1469974554     sue  advanced.html                 26    NaN     NaN
9   1469974574  cheryl     intro.html                 10    NaN     NaN
10  1469974604  cheryl     intro.html                 11    NaN     NaN
11  1469974624     sue  advanced.html                 27    NaN     NaN
12  1469974634  cheryl     intro.html                 12    NaN     NaN
13  1469974654     sue  advanced.html                 28    NaN     5.0
14  1469974664  cheryl     intro.html                 13    NaN     NaN
15  1469974694  cheryl     intro.html                 14    NaN     NaN
16  1469974724  cheryl     intro.html                 15    NaN     NaN
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974754     sue  advanced.html                 30    NaN     NaN
19  1469974824     sue  advanced.html                 31    NaN     NaN
20  1469974854     sue  advanced.html                 32    NaN     NaN
21  1469974924     sue  advanced.html                 33    NaN     NaN
22  1469977424     bob     intro.html                  1   True    10.0
23  1469977454     bob     intro.html                  1    NaN     NaN
24  1469977484     bob     intro.html                  1    NaN     NaN
25  1469977514     bob     intro.html                  1    NaN     NaN
26  1469977544     bob     intro.html                  1    NaN     NaN
27  1469977574     bob     intro.html                  1    NaN     NaN
28  1469977604     bob     intro.html                  1    NaN     NaN
29  1469977634     bob     intro.html                  1    NaN     NaN
30  1469977664     bob     intro.html                  1    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [134]:
df6 = df6.set_index(['time','user'])
df6

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN